<!DOCTYPE html>

<script  src = "./Scripts/cs4Edit.js"> </script>
<script  src = "./Scripts/cs4Menu.js"> </script>
<link rel='stylesheet'  href='./stylesheets/cs4Edit.css'>
<link rel='stylesheet'  href='./stylesheets/cs4Menu.css'>

<script>
    var Desc =    "<%=JSON.stringify(Desc)%>";
</script>

<html>

<head>
    <title> Cue Editor</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>


<h1> CS4 Cue Editor</h1>

<header class="mainheader">
    <div id="menubutton">
        <button id = "buttonMenu"  onmousedown = "buttonMenu()">=</button>
    </div>
    <nav id = "menunav">
        <ul>
            <li><a href="cs4Home">Home</a></li>
            <li><a href="cs4VerticalScroll" >Scrolling</a></li>
            <li ><a href="cs4Info" >Info</a></li>
            <li><a href="cs4Timing">Timing</a></li>
            <li><a href="cs4Settings">Settings</a></li>
            <li><a href="./images/CS4Help.pdf" target="_blank">Help</a></li>
        </ul>
    </nav>
</header>
<body class = 'body' onresize="resize_canvas()">
<div id = "title" >

</div>
<div id="websocketlog" class="log">
    <h4> Waiting for connection...</h4>
</div>

<div id="retime" style="border:3px solid black; background-color:#e6e6e6;; padding:10px; font-size:100%; text-align:center; display:none;">
    <legend>Select 'Description' of CUE file to EDIT:
        <select id = "retimeDesc">
        </select>
    </legend>
    <button id ="buttonRetimeCancel" class = "retimebutton" onmousedown="buttonOneCancel()">Cancel</button>
    <button id =="buttonRetimeContinue" class = "retimebutton" onmousedown="buttonOneContinue()">SELECT Timing</button>

</div>

<div id = "canvasDiv">

    <button id = "addButton"  onmousedown = "addclick()">Add Cues</button>
    <button id = "saveButton"  onmousedown = "saveclick()">Save Cue File</button>
    <button id = "undoButton"  onmousedown = "undoclick()">Undo Last Edit</button>
    <button id = "loadButton"  onmousedown = "loadclick()">Load Entire Cue File</button>
    <button id = "loadOneButton"  onmousedown = "loadOneclick()">Load One Timing From Cue File</button>

    <h3 id = "in" > All Cue Data  </h3>
    <canvas id="mainCanvas" width= 1000px height=300px tabindex = "1">  </canvas>
    Zoom: 0<input type="range" class="slider" id="zoom" name="zoom" step = 0.25 value = 0 max = 99.80 onchange="zoomChange(this.value)" oninput="zoomChange(this.value)">100
    Place: 0<input type="range" class="slider" id="location"  name="zoom1" step = 0.25 value = 50 onchange="locationChange(this.value)" oninput="locationChange(this.value)">100
    <h3 id = "out" >Zoom Cue Data</h3>
    <canvas id="zoomCanvas" width= 1000px height=300px tabindex = "2"></canvas>

</div>

<div id="adddiv">
    <div id = smpte class = relay >
        <fieldset id = "fieldset4" class = field>
            <legend><b>SPMTE</b></legend>
            <div>
                On <input id=smpteon name=smpte value= "on" type=radio checked>
                Off<input id=smteoff name=smpte value = "ff" type=radio >
            </div>

            <div id="buttondiv4">
                <button id = "insertsmpte"   class = but  onmousedown = "smpteclick()"> Insert </button>
            </div>
        </fieldset>
    </div>

    <div id = dmx class = dmx >
        <fieldset id = "fieldset3" class = field>
            <legend><b>DMX Channels</b></legend>
            <input id=dmx1 name=dmx1   value="1" required style = "width: 2em" > </ul>
            <input id=dmx2 name=dmx2   value="2" required style = "width: 2em" > </ul>
            <input id=dmx3 name=dmx3   value="3" required style = "width: 2em" > </ul>
            <div id="buttondiv3">
                <button id = "insertdmx"   class = but  onmousedown = "dmxclick()"> Insert </button>
            </div>
        </fieldset>
    </div>

    <div id = relay class = relay >
        <fieldset id = "fieldset1" class = field>
            <legend><b>Relays</b></legend>
            <div>
                Off <input id=relayopen name=relay value= "0" type=radio checked>
                On <input id=relayclosed name=relay value = "1" type=radio >
            </div>
            <select id='relayselect'>
                <option value='RELAY 1' title='1'>Relay 1</option>
                <option value='RELAY 2' title='2'>Relay 2</option>
                <option value='RELAY 3' title='3'>Relay 3</option>
                <option value='RELAY 4' title='4'>Relay 4</option>
            </select>
            <div id="buttondiv1">
                <button id = "insertrelay"  class = but onmousedown = "relayclick()"> Insert </button>
            </div>
        </fieldset>
    </div>

    <div id = dac class = dac >
        <fieldset id = "fieldset5" class = field>
            <legend><b>DAC</b></legend>
            <div>
                Channel:  1 <input id=dac1 name=dac value= "1" type=radio checked>
                2<input id=dac2 name=dac value = "2" type=radio >
            </div>
            <input id=dacout name=dacout   value="4000" required style = "width: 3em" >Millivolts</ul>
            <div id="buttondiv5">
                <button id = "insertdac"    class = but onmousedown = "dacclick()"> Insert  </button>
            </div>
        </fieldset>
    </div>

    <div id = serial class = serial >
        <fieldset id = "fieldset2" class = field>
            <legend><b>Serial Ports</b></legend>
            <div>
                ASCII <input id= 'asciiselect' name=serialtype value= " A" type=radio checked>
                HEX<input id= 'serialhex' name=serialtype value = " H" type=radio >
            </div>
            <select id='serialselect' >
                <option value='SLAVE SER1' title='1'>Serial 1</option>
                <option value='SLAVE SER2' title='2'>Serial 2</option>
                <option value='SLAVE SER3' title='3'>Serial 3</option>
            </select>
            <select id= baudselect >
                <option value=' 9600' title='9600'>9600 Baud</option>
                <option value=' 1200' title='1200'>1200</option>
                <option value=' 4800' title='4800'>4800</option>
                <option value=' 9600' title='9600'>9600</option>
                <option value=' 14400' title='14400'>14400</option>
                <option value=' 19200' title='19200'>19200</option>
                <option value=' 28800' title='28800'>28800</option>
                <option value=' 38400' title='38400'>38400</option>
                <option value=' 57600' title='57600'>57600</option>
                <option value=' 115200' title='115200'>115200</option>
            </select>
            <select id= parityselect >
                Parity: <option value=' N' title='NONE'>Parity: NONE</option>
                <option value=' O' title='ODD'>Parity: ODD</option>
                <option value=' E' title='EVEN'>Parity: EVEN</option>
            </select>
            <div id="buttondiv2">
                <button id = "insertserial"   class = but  onmousedown = "serialclick()"> Insert </button>
                <input id=message name=message   value="text" required style = "width: 10em" >Message</ul>

            </div>
        </fieldset>
    </div>

</div>

</body>
</html>