<!DOCTYPE html>

<script  src = "./Scripts/cs4Edit.js"> </script>
<script  src = "./Scripts/cs4Menu.js"> </script>
<link rel='stylesheet'  href='./stylesheets/cs4Edit.css'>
<link rel='stylesheet'  href='./stylesheets/cs4Menu.css'>

<html>

<head>
    <title> Cue Editor</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>


<h1> CS4 Cue Editor</h1>

<header class="mainheader">
    <div id="menubutton">
        <button id = "buttonMenu"  onmousedown = "buttonMenu()">=</button>
    </div>
    <nav id = "menunav">
        <ul>
            <li><a href="cs4Home">Home</a></li>
            <li class="active"><a href="cs4VerticalScroll" >Scrolling</a></li>
            <li ><a href="cs4Info" >Info</a></li>
            <li><a href="cs4Timing">Timing</a></li>
            <li><a href="cs4Settings">Settings</a></li>
            <li><a href="cs4Help">Help</a></li>
        </ul>
    </nav>
</header>

<body class = 'body' onresize="resize_canvas()">
<div id = "title" >

</div>

<div id = "canvasDiv">


    <button id = "saveButton"  onmousedown = "saveclick()">Save Cue File</button>
    <button id = "undoButton"  onmousedown = "undoclick()">Undo Last Edit</button>
    <button id = "loadButton"  onmousedown = "loadclick()">Load Cue File </button>
    <h3 id = "in" > All Cue Data  </h3>
    <canvas id="mainCanvas" width= 1000px height=300px tabindex = "1">  </canvas>
    Zoom: 0<input type="range" class="slider"  name="zoom" step = 0.25 value = 0 max = 99.75 onchange="zoomChange(this.value)" oninput="zoomChange(this.value)">100
    Location: 0<input type="range" class="slider" name="zoom1" step = 0.25 value = 50 onchange="locationChange(this.value)" oninput="locationChange(this.value)">100
    <h3 id = "out" >Zoom Cue Data</h3>
    <canvas id="zoomCanvas" width= 1000px height=400px tabindex = "2"></canvas>

</div>
</body>
</html>