<!DOCTYPE html>

    <script  src = "./Scripts/cs4Info.js"> </script>
    <script  src = "./Scripts/cs4Menu.js"> </script>
    <link rel='stylesheet'  href='./stylesheets/cs4Help.css'>
    <link rel='stylesheet'  href='./stylesheets/cs4Menu.css'>

<html lang = "en">

<head>
    <title>CS4 Info</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>

<body class="body">

    <h1>CS4 System Help</h1>

    <header class="mainheader">
        <div id="menubutton">
            <button id = "buttonMenu"  onmousedown = "buttonMenu()">=</button>
        </div>
        <nav id = "menunav">
            <ul>
                <li><a href="cs4Home">Home</a></li>
                <li><a href="cs4VerticalScroll" >Scrolling</a></li>
                <li><a href="cs4Info" >Info</a></li>
                <li><a href="cs4Timing">Timing</a></li>
                <li><a href="cs4Settings">Settings</a></li>
                <li class="active"><a href="cs4Help">Help</a></li>
            </ul>
        </nav>
    </header>

<p>There is no help yet</p>


</body>
</html>