<!DOCTYPE html>

    <script  src = "/Scripts/cs4Home.js"> </script>
    <script  src = "/Scripts/cs4Menu.js"> </script>
    <link rel='stylesheet'  href='/stylesheets/cs4Home.css'>
    <link rel='stylesheet'  href='/stylesheets/cs4Menu.css'>

<script>

    var Test =    "<%=Test%>" ;

</script>

<script>
    <%-"var externalIP = "+JSON.stringify(externalIP)%>
    <%-"var internalIP = "+JSON.stringify(internalIP)%>
    <%-"var version = "+JSON.stringify(version)%>

</script>

<html>

<head>

    <title>CS4 System Home</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

</head>



<body class = "body" id = "body">

        <h1>Welcome To The CS4 System</h1>

        <header class="mainheader">
            <div id="menubutton">
                <button id = "buttonMenu"  onmousedown = "buttonMenu()"><span id="buttontext">|||</span></button>
            </div>
            <nav id = "menunav">
                <ul>
                    <li class="active"><a href="cs4Home">Home</a></li>
                    <li><a href="cs4VerticalScroll" >Scrolling</a></li>
                    <li><a href="cs4Info" >Info</a></li>
                    <li><a href="cs4Timing">Timing</a></li>
                    <li><a href="cs4Settings">Settings</a></li>
                    <li><a href="./images/CS4Help.pdf" target="_blank">Help</a></li>
                </ul>
            </nav>
        </header>

        <div id = "test">


        </div>

        <div id = "title" >

            <button id = "buttonBackground"  onmousedown = "buttonBackground()"> BkGnd </button>
            <button id = "buttonClear"  onmousedown = "buttonClear()"> Clear</button>
            <button id = "buttonLog100"  onmousedown = "buttonLog100()"> 1000 Entries </button>
            <button id = "buttonLog"  onmousedown = "buttonLog()"> Full Log </button>
            <h2 >Event Log</h2>


        </div>

        <pre>
            <div id="websocketlog" class="log">
                <h4> Waiting for connection...</h4>
            </div>
        </pre>




</body>
</html>