<!DOCTYPE html>

<script  src = "./Scripts/cs4Info.js"> </script>
<link rel='stylesheet'  href='./stylesheets/cs4Info.css'>
<link rel='stylesheet'  href='./stylesheets/cs4Menu.css'>

<html>
<head>
    <title>CS4 Info</title>
    <h1><center>CS4 System Info</center></h1>

    <script>
        <%-"var startup = "+JSON.stringify(startup)%>
        <%-"var countStartup = "+JSON.stringify(countStartup)%>
        <%-"var countLog = "+JSON.stringify(countLog)%>
        <%-"var countCue = "+JSON.stringify(countCue)%>
    </script>

</head>

<body>
    <div id="menudiv">
        <ul id = "menulist">
            <li class = "menu"><a href="cs4Home">Home</a></li>
            <li class = "menu"><a href="cs4Info">Info</a></li>
            <li class = "menu"><a href="cs4Timing">Timing</a></li>
            <li class = "menu"><a href="cs4Help">Help</a></li>
        </ul>
    </div>

    <div id="titles">

    </div>

    <div id = "maindiv">
        <div id = "startup">

        </div>

        <div id="countcue">
            <h4> Number of Cues</h4>

        </div>

        <div id="countlog">
            <h4> Number of Endties in Log File</h4>

        </div>

    </div>



</body>
</html>