<!DOCTYPE html>

<script  src = "./Scripts/cs4Info.js"> </script>
<link rel='stylesheet'  href='./stylesheets/cs4Info.css'>
<link rel='stylesheet'  href='./stylesheets/cs4Menu.css'>

<html lang = "en">

<head>
    <title>CS4 Info</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>

<body class="body">

    <h1>CS4 System Info</h1>
    <script>
        <%-"var startup = "+JSON.stringify(startup)%>
        <%-"var countStartup = "+JSON.stringify(countStartup)%>
        <%-"var countLog = "+JSON.stringify(countLog)%>
        <%-"var countCue = "+JSON.stringify(countCue)%>
    </script>

    <header class="mainheader">
        <nav>
            <ul>
                <li><a href="cs4Home">Home</a></li>
                <li class="active"><a href="cs4Info" >Info</a></li>
                <li><a href="cs4Timing">Timing</a></li>
                <li><a href="cs4Help">Help</a></li>
            </ul>
        </nav>
    </header>


    <div id = "maindiv">

        <div id="titles">

        </div>

        <div id = "startup" class = "infostart">

        </div>

        <div id = "countstartup" class = "info">

        </div>

        <div id="countcue" class = "info">


        </div>

        <div id="countlog" class = "info">


        </div>

    </div>
<!--
    <footer class ="mainfooter">
        <p>            Wiz Computing 2013        </p>
    </footer>
-->

</body>
</html>