<!DOCTYPE html>

<script  src = "./Scripts/cs4Home.js"> </script>
<link rel='stylesheet'  href='./stylesheets/cs4Settings.css'>
<link rel='stylesheet'  href='./stylesheets/cs4Menu.css'>

<html>

<head>

    <title>CS4 System Home</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

</head>



<body class = "body" id = "body">

    <h1>CS4 Setup</h1>

    <header class="mainheader">
        <nav>
            <ul>
                <li><a href="cs4Home">Home</a></li>
                <li><a href="cs4VerticalScroll" >Scrolling</a></li>
                <li><a href="cs4Info" >Info</a></li>
                <li><a href="cs4Timing">Timing</a></li>
                <li class="active"><a href="cs4Settings">Settings</a></li>
                <li><a href="cs4Help">Help</a></li>
            </ul>
        </nav>
    </header>



    <div id = "title" >

        <button id = "buttonBackground"  onmousedown = "buttonBackground()"> BkGnd </button>
        <button id = "buttonClear"  onmousedown = "buttonClear()"> Clear</button>
        <h2 >Event Log</h2>


    </div>


    <div id="websocketlog" class="log">
        <h4> Waiting for connection...</h4>
    </div>

    <fieldset id = "fieldset1">
        <legend>Timing 1</legend>

        Show Name: <input id=showname1 name=showname1 type=text value="ShowName" required style = "width: 8em" autofocus>

        <div>
            Output Type:   R4 Slides <input id=r4slides1 name=output1 value= "r4slides" type=radio checked>
            R4 Audio<input id=r4audio1 name=output1 value = "r4audio" type=radio >
        </div>

        <div>
            Directory:     <input id=directory1 name=directory1 type=text value="English" style = "width: 8em" required>
            Current Cue: <input id=cue1 name=cue1 type=number value=1 required style = "width: 5em">
        </div>

        <div id="buttondiv1">
            <button id = "goButton1"  onmousedown = "cueclick1()"> GO </button>
        </div>

    </fieldset>



</body>




</html>