!!! 5
html
    head
        title CS-4 Start Page
        h1
            center Welcome to the CS-4 System
        h1#blank .
    body
        p#loglabel  Event Log
        style.
            #blank {
                color: #ffffff; /* just to get spacing right - turn text to white*/
            }

            #loglabel {
                color: #666;
                text-align: center;
            }

            .log {
                width: 90vw;
                height: 50vh;
                background-color: #ececec;
                margin-top: 1px;
                border-bottom-left-radius: 15px;
                border-top-left-radius: 15px;
                box-shadow: 3px 3px 3px #333;
                padding-top: 1em;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 10px;

            }

            #websocket {
                margin: auto;
                border: 1px solid #333333;
                overflow-y: scroll;
            }
        #output.log
            p  test text

    script(src="/Scripts/data2.js")

    script.
         window.addEventListener("load", init, false);    // keeps javascript from running uptil page is loaded

               