<!DOCTYPE html>

    <script  src = "./Scripts/cs4Settings.js"> </script>
    <script  src = "./Scripts/cs4Menu.js"> </script>
    <link rel='stylesheet'  href='./stylesheets/cs4Settings.css'>
    <link rel='stylesheet'  href='./stylesheets/cs4Menu.css'>
<script>
   // window.addEventListener("init",onload, false);

  // var cs4Settings= "<%=JSON.stringify(cs4Settings)%>" ;// load the settings from the setting collection
  var cs4Settings=<%-JSON.stringify(cs4Settings)%>

</script>
<html>

<head>

    <title>CS4 System Settings</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

</head>



<body class = "body" id = "body">

    <h1>CS4 Setup</h1>

    <header class="mainheader">
        <div id="menubutton">
            <button id = "buttonMenu"  onmousedown = "buttonMenu()"><span id="buttontext">|||</span></button>
        </div>
        <nav id = "menunav">
            <ul>
                <li><a href="cs4Home">Home</a></li>
                <li><a href="cs4VerticalScroll" >Scrolling</a></li>
                <li><a href="cs4Info" >Info</a></li>
                <li><a href="cs4Timing">Timing</a></li>
                <li class="active"><a href="cs4Settings">Settings</a></li>
                <li><a href="./images/CS4Help.pdf" target="_blank">Help</a></li>
            </ul>
        </nav>
    </header>



    <div id = "title" >

        <button id = "buttonBackground"  onmousedown = "buttonBackground()"> BkGnd </button>
        <button id = "buttonClear"  onmousedown = "buttonClear()"> Clear</button>
        <button id = "buttonStartupParameters"  onmousedown = "buttonStartupParameters()">Startup Parameters</button>
        <h2 >Event Log</h2>


    </div>

    <pre>
        <div id="websocketlog" class="log">
            <h4> Waiting for connection...</h4>
        </div>
    </pre>

    <fieldset id = "setup">
        <legend>Startup Parameters</legend>
        <div>
            <label class = setup>Name of System</label>
            <input id=systemname name=systemname type=text value="CS4 System"  style = "width: 13.3em" >
        </div>


        <div>
            <label class = setup>Self Test Start Time
            </label>
            <select id=testtimeselect >
                <option value='00:00:00' title='00'>00:00:00 (24 hour format)</option>
                <option value='01:00:00' title='01'>01:00:00</option>
                <option value='02:00:00' title='02'>02:00:00</option>
                <option value='03:00:00' title='03'>03:00:00</option>
                <option value='04:00:00' title='04'>04:00:00</option>
                <option value='05:00:00' title='05'>05:00:00</option>
                <option value='06:00:00' title='06'>06:00:00</option>
                <option value='07:00:00' title='07'>07:00:00</option>
                <option value='08:00:00' title='08'>08:00:00</option>
                <option value='09:00:00' title='09'>09:00:00</option>
                <option value='10:00:00' title='10'>10:00:00</option>
                <option value='11:00:00' title='11'>11:00:00</option>
                <option value='12:00:00' title='12'>12:00:00</option>
                <option value='13:00:00' title='13'>13:00:00</option>
                <option value='14:00:00' title='14'>14:00:00</option>
                <option value='15:00:00' title='15'>15:00:00</option>
                <option value='16:00:00' title='16'>16:00:00</option>
                <option value='17:00:00' title='17'>17:00:00</option>
                <option value='18:00:00' title='18'>18:00:00</option>
                <option value='19:00:00' title='19'>19:00:00</option>
                <option value='20:00:00' title='20'>20:00:00</option>
                <option value='21:00:00' title='21'>21:00:00</option>
                <option value='22:00:00' title='22'>22:00:00</option>
                <option value='23:00:00' title='23'>23:00:00</option>
            </select>
            <div>
                <label class = setup>Email Address For Messages</label>
                <input id=email name=email  style = "width: 15em" >
            </div>
            <div>
                <label class = setup>Email Account To Send Messages From</label>
                <input id=emailAccount name=emailAccount  style = "width: 15em" >
            </div>
            <div>
                <label class = setup>Email Address Password</label>
                <input id=emailAccountPassword name=emailAccountPassword  style = "width: 15em" >
            </div>
            <div>
                <label class = setup>Select Time Zone</label>
                <select id='timeZoneCombo'>
                    <option value='EST5EDT' title='US/Eastern'>US/Eastern</option>
                    <option value='CST6CDT' title='US/Central'>US/Central</option>
                    <option value='MST7MDT' title='US/Mountain'>US/Mountain</option>
                    <option value='PST8PDT' title='US/Pacific'>US/Pacific</option>
                    <option value='GMT' title='GMT'>GMT</option>
                    <option value='Etc/GMT+1' title='GMT'>GMT+1</option>
                    <option value='Etc/GMT+2' title='GMT'>GMT+2</option>
                    <option value='Etc/GMT+3' title='GMT'>GMT+3</option>
                    <option value='Etc/GMT+4' title='GMT'>GMT+4</option>
                    <option value='Etc/GMT+5' title='GMT'>GMT+5</option>
                    <option value='Etc/GMT-1' title='GMT'>GMT-1</option>
                    <option value='Etc/GMT-2' title='GMT'>GMT-2</option>
                    <option value='Etc/GMT-3' title='GMT'>GMT-3</option>
                    <option value='Etc/GMT-4' title='GMT'>GMT-4</option>
                    <option value='Etc/GMT-5' title='GMT'>GMT-5</option>
                </select>
            </div>

        </div>
        <div>
            Ignore Input Source:   Yes <input id=inputsourceyes name=inputsource value= "sourceyes" type=radio checked>
            No<input id=inputsourceno name=inputsource value = "sourceno" type=radio >
        </div>
        <div>
            Enable Zigbee Monitor:   Yes <input id=zigbeemonitoryes name=zigbeemonitor value= "monitoryes" type=radio checked>
            No<input id=zigbeemonitorno name=zigbeemonitor value = "monitorno" type=radio >
        </div>
        <div>
            <fieldset id = dmxsetup>
                <legend>DMX Channel Monitor</legend>
                    <label>1st Channel</label>
                    <input id=startupdmx1 name=startupdmx1 type=number value="1" min="1" max="512" style = "width: 3.3em" >
                    <label>2nd Channel</label>
                    <input id=startupdmx2 name=startupdmx2 type=number value="2" min="1" max="512" required style = "width: 3.3em" >
                    <label>3rd Chanel</label>
                    <input id=startupdmx3 name=startupdmx3 type=number value="3" min="1" max="512" required style = "width: 3.3em" >
            </fieldset>
        </div>

        <div>
            <fieldset id = cueserialsetup>
                <legend>Serial Output Cue  Setup</legend>
                <select id='cueserialselect' >
                    <option value=' SLAVE SER1' title='1'>Serial 1</option>
                    <option value=' SLAVE SER2' title='2'>Serial 2</option>
                    <option value=' SLAVE SER3' title='3'>Serial 3</option>
                </select>
                <select id= cuebaudselect >
                    <option value=' 9600' title='9600'>9600 Baud</option>
                    <option value=' 1200' title='1200'>1200</option>
                    <option value=' 4800' title='4800'>4800</option>
                    <option value=' 9600' title='9600'>9600</option>
                    <option value=' 14400' title='14400'>14400</option>
                    <option value=' 19200' title='19200'>19200</option>
                    <option value=' 28800' title='28800'>28800</option>
                    <option value=' 38400' title='38400'>38400</option>
                    <option value=' 57600' title='57600'>57600</option>
                    <option value=' 115200' title='115200'>115200</option>
                </select>
                <select id= cueparityselect >
                    Parity: <option value=' N' title='NONE'>Parity: NONE</option>
                    <option value=' O' title='ODD'>Parity: ODD</option>
                    <option value=' E' title='EVEN'>Parity: EVEN</option>
                </select>
                <div>
                    Enable Serial Cue Output:   Yes <input id=serialcueoutputyes name=serialcueoutput value= "monitoryes" type=radio checked>
                    No<input id=serialcueoutputno name=serialcueoutput value = "monitorno" type=radio >
                </div>
            </fieldset>
        </div>

        <div>
            <fieldset id = midioutputsetup>
                <legend>Midi  Output Cue Setup</legend>
                <select id='midicueoutselect' >
                    <option value='MIDI1' >Output Channel: Midi 1</option>
                    <option value='MIDI2' >Output Channel: Midi 2</option>
                </select>
                <select id= midicueouttype >
                    <option value='slide' title='1'>Content: Slides</option>
                    <option value='audA' title='2'>Content: Audio A</option>
                    <option value='audB' title='3'>Content: Audio B</option>
                    <option value='audC' title='3'>Content: Audio C</option>
                    <option value='all' title='3'>Content: All</option>
                </select>
                    <label class = setup>Midi Output Cue Showname</label>
                    <input id=midicueoutshowname name=midicueoutshowname  type=text value="Enter Show Name" style = "width: 15em" >


                <select id= midicueoutid >
                    <option value = "00" >Device ID: 0</option>
                    <option value = "01" >Device ID: 1</option>
                    <option value = "02" >Device ID: 2</option>
                    <option value = "03" >Device ID: 3</option>
                    <option value = "04" >Device ID: 4</option>
                    <option value = "05" >Device ID: 5</option>
                    <option value = "06" >Device ID: 6</option>
                    <option value = "07" >Device ID: 7</option>
                    <option value = "08" >Device ID: 8</option>
                    <option value = "09" >Device ID: 9</option>
                    <option value = "0A" >Device ID: 10</option>
                    <option value = "0B" >Device ID: 11</option>
                    <option value = "0C" >Device ID: 12</option>
                    <option value = "0D" >Device ID: 13</option>
                    <option value = "0E" >Device ID: 14</option>
                    <option value = "0F" >Device ID: 15</option>
                </select>
                <div>
                    Enable Midi Cue Output:   Yes <input id=midicueoutputyes name=midicueoutput value= "monitoryes" type=radio checked>
                    No<input id=midicueoutputno name=midicueoutput value = "monitorno" type=radio >
                </div>
            </fieldset>
        </div>


        <fieldset id = midifilters>
            <legend>Midi Input Filters</legend>
                <fieldset id = midi1>
                    <legend>Midi Input 1</legend>
                    <fieldset>
                        <legend>SYSEX</legend>
                        <label>SYSEX</label>
                        <select id = midisysex1 onchange="midisysexchange1()">
                            <option value =0 >Allow All</option>
                            <option value =1 >Select Specific</option>
                            <option value =2>Ignore Specific</option>
                        </select>
                        <div id = sysex1>
                            <fieldset>
                                <legend>Sysex Command</legend>
                                <label>Device ID(Byte 2)</label>
                                <select id = deviceIDLow1>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                                <select id = deviceIDHigh1>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                                <label>Sysex Type(Byte 3)</label>
                                <select id = type1>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 01 >Long Form MTC (01)</option>
                                    <option value = 02 >MIDI Show Control (02)</option>
                                    <option value = 03 >Notation Information (03)</option>
                                    <option value = 04 >Device Control (04)</option>
                                    <option value = 05 >Real Time MTC Cueing (05)</option>
                                    <option value = 06 >MIDI Machine Control Command (06)</option>
                                    <option value = 07 >MIDI Machine Control Response (07)</option>
                                    <option value = 08 >Single Note Retune (08)</option>
                                </select>
                                    <div></div>
                                <label>Command Format(Byte 4)</label>
                                <select id = commandformat1>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 1 >Lighting - General (01)</option>
                                    <option value = 2 >Moving Lights (02)</option>
                                    <option value = 3 >Color Changes (03)</option>
                                    <option value = 4 >Strobes (04)</option>
                                    <option value = 5 >Lasers (05)</option>
                                    <option value = 6 >Chasers (06)</option>
                                    <option value = 16 >Sound General (10)</option>
                                    <option value = 17 >Music (11)</option>
                                    <option value = 18 >CD Players (12</option>
                                    <option value = 19 >EPROM Playback (13)</option>
                                    <option value = 20 >Audio Tape Machines (14)</option>
                                    <option value = 21 >Intercoms (15)</option>
                                    <option value = 22 >Amplifiers (16)</option>
                                    <option value = 23 >Audio Effects Devices (17)</option>
                                    <option value = 24 >Equalizers (18)</option>
                                    <option value = 32 >Machinery - General (20)</option>
                                    <option value = 32 >Rigging (21)</option>
                                    <option value = 34 >Flies (22)</option>
                                    <option value = 35 >Lifts (23)</option>
                                    <option value = 36 >Turntables (24)</option>
                                    <option value = 37 >Trusses (25)</option>
                                    <option value = 38 >Robots (26)</option>
                                    <option value = 39 >Animation (27)</option>
                                    <option value = 40 >Floats (28)</option>
                                    <option value = 41 >Breakaways (29)</option>
                                    <option value = 42 >Barges (2A)</option>
                                    <option value = 48 >Video - General (30)</option>
                                    <option value = 49 >Video Tape Machines (31)</option>
                                    <option value = 50 >Video Cassette Machines (32)</option>
                                    <option value = 51 >Video Disk Players (33)</option>
                                    <option value = 52 >Video Switchers (34)</option>
                                    <option value = 53 >Video Effects (35)</option>
                                    <option value = 54 >Video Character Generators (36)</option>
                                    <option value = 55 >Video Still Stores (37)</option>
                                    <option value = 56 >Video Monitors (38)</option>
                                    <option value = 64 >Projection - General (40)</option>
                                    <option value = 65 >Film Projectors (41)</option>
                                    <option value = 66 >Slide Projectors (42)</option>
                                    <option value = 67 >Video Projectors (43)</option>
                                    <option value = 68 >Dissolvers (44)</option>
                                    <option value = 69 >Shutter Controls (45)</option>
                                    <option value = 80 >Process Control - General (50)</option>
                                    <option value = 81 >Hydraulic Oil (51)</option>
                                    <option value = 82 >H20 (52)</option>
                                    <option value = 83 >C02 (53)</option>
                                    <option value = 84 >Compressed Air (54)</option>
                                    <option value = 85 >Natural Gas (55)</option>
                                    <option value = 86 >Fog (56)</option>
                                    <option value = 87 >Smoke (57)</option>
                                    <option value = 88 >Cracked Haze (58)</option>
                                    <option value = 96 >Pyro - General (60)</option>
                                    <option value = 97 >Fireworks (61)</option>
                                    <option value = 98 >Explosions (62)</option>
                                    <option value = 99 >Flames (63)</option>
                                    <option value = 100 >Smokepots (64)</option>
                                </select>
                                <label>Command (Byte 5)</label>
                                <select id = command1>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 1 >Go (01)</option>
                                    <option value = 2 >Pause (02)</option>
                                    <option value = 3 >Resume (03)</option>
                                    <option value = 6 >Set Submaster (06)</option>
                                    <option value = 7 >Fire (07)</option>
                                </select>
                            </fieldset>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend>SYSEX CUE LIST </legend>
                        <label>Sysex Cue List</label>
                        <select id = sysexcuelist1 onchange="sysexcuelistchange1()">
                            <option value = "" >Select</option>
                            <option value =0>Allow All</option>
                            <option value =1>Allow One</option>
                            <option value =2>Allow Range</option>
                            <option value =3>Ignore One</option>
                            <option value =4>Ignore Range</option>
                        </select>
                        <div id="sysexcuelist1a">
                            <label>Cue List Number</label>
                            <input id=cuelistnumber1a name=cuelistnumber1a type=number value="1" min="1" max="512" style = "width: 3.3em" >
                        </div>
                        <div id="sysexcuelist1b">
                            <label>Cue List Start</label>
                            <input id=cuelistnumber1b name=cuelistnumber1b type=number value="1" min="1" max="512" style = "width: 3.3em" >
                            <label>Cue List End</label>
                            <input id=cuelistnumber1c name=cuelistnumber1c type=number value="1" min="1" max="512" style = "width: 3.3em" >
                        </div>
                    </fieldset>




                    <fieldset>
                        <legend>Non Sysex (3 Byte)</legend>
                        <label>Non Sysex</label>
                        <select id = nonsysex1 onchange="nonsysexchange1()">
                            <option value = "" >Select</option>
                            <option value =0>Allow All</option>
                            <option value =1>Select Specific</option>
                            <option value =2>Ignore Specific</option>
                        </select>
                        <div id = other1>
                            <fieldset>
                            <legend>Non Sysex Command</legend>
                                <label>Midi Type</label>
                                <select id = nonsysextype1>
                                    <option value = "" >Select</option>
                                    <option value = 15>ANY</option>
                                    <option value = 1 >Note</option>
                                    <option value = 2 >All but Note</option>
                                </select>
                                <label>Channel</label>
                                <select id = nonsysexchannel1>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                            </fieldset>
                        </div>

                    </fieldset>
                </fieldset>

                <fieldset id = midi2>
                    <legend>Midi Input 2</legend>
                    <fieldset>
                        <legend>SYSEX</legend>
                        <label>SYSEX</label>
                        <select id = midisysex2 onchange="midisysexchange2()">
                            <option value = "" >Select</option>
                            <option value =0 >Allow All</option>
                            <option value =1 >Select Specific</option>
                            <option value =2>Ignore Specific</option>
                        </select>
                        <div id = sysex2>
                            <fieldset>
                                <legend>Sysex Command</legend>
                                <label>Device ID(Byte 2)</label>
                                <select id = deviceIDLow2>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                                <select id = deviceIDHigh2>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                                <label>Sysex Type(Byte 3)</label>
                                <select id = type2>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 01 >Long Form MTC (01)</option>
                                    <option value = 02 >MIDI Show Control (02)</option>
                                    <option value = 03 >Notation Information (03)</option>
                                    <option value = 04 >Device Control (04)</option>
                                    <option value = 05 >Real Time MTC Cueing (05)</option>
                                    <option value = 06 >MIDI Machine Control Command (06)</option>
                                    <option value = 07 >MIDI Machine Control Response (07)</option>
                                    <option value = 08 >Single Note Retune (08)</option>
                                </select>
                                <div></div>
                                <label>Command Format(Byte 4)</label>
                                <select id = commandformat2>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 1 >Lighting - General (01)</option>
                                    <option value = 2 >Moving Lights (02)</option>
                                    <option value = 3 >Color Changes (03)</option>
                                    <option value = 4 >Strobes (04)</option>
                                    <option value = 5 >Lasers (05)</option>
                                    <option value = 6 >Chasers (06)</option>
                                    <option value = 16 >Sound General (10)</option>
                                    <option value = 17 >Music (11)</option>
                                    <option value = 18 >CD Players (12</option>
                                    <option value = 19 >EPROM Playback (13)</option>
                                    <option value = 20 >Audio Tape Machines (14)</option>
                                    <option value = 21 >Intercoms (15)</option>
                                    <option value = 22 >Amplifiers (16)</option>
                                    <option value = 23 >Audio Effects Devices (17)</option>
                                    <option value = 24 >Equalizers (18)</option>
                                    <option value = 32 >Machinery - General (20)</option>
                                    <option value = 32 >Rigging (21)</option>
                                    <option value = 34 >Flies (22)</option>
                                    <option value = 35 >Lifts (23)</option>
                                    <option value = 36 >Turntables (24)</option>
                                    <option value = 37 >Trusses (25)</option>
                                    <option value = 38 >Robots (26)</option>
                                    <option value = 39 >Animation (27)</option>
                                    <option value = 40 >Floats (28)</option>
                                    <option value = 41 >Breakaways (29)</option>
                                    <option value = 42 >Barges (2A)</option>
                                    <option value = 48 >Video - General (30)</option>
                                    <option value = 49 >Video Tape Machines (31)</option>
                                    <option value = 50 >Video Cassette Machines (32)</option>
                                    <option value = 51 >Video Disk Players (33)</option>
                                    <option value = 52 >Video Switchers (34)</option>
                                    <option value = 53 >Video Effects (35)</option>
                                    <option value = 54 >Video Character Generators (36)</option>
                                    <option value = 55 >Video Still Stores (37)</option>
                                    <option value = 56 >Video Monitors (38)</option>
                                    <option value = 64 >Projection - General (40)</option>
                                    <option value = 65 >Film Projectors (41)</option>
                                    <option value = 66 >Slide Projectors (42)</option>
                                    <option value = 67 >Video Projectors (43)</option>
                                    <option value = 68 >Dissolvers (44)</option>
                                    <option value = 69 >Shutter Controls (45)</option>
                                    <option value = 80 >Process Control - General (50)</option>
                                    <option value = 81 >Hydraulic Oil (51)</option>
                                    <option value = 82 >H20 (52)</option>
                                    <option value = 83 >C02 (53)</option>
                                    <option value = 84 >Compressed Air (54)</option>
                                    <option value = 85 >Natural Gas (55)</option>
                                    <option value = 86 >Fog (56)</option>
                                    <option value = 87 >Smoke (57)</option>
                                    <option value = 88 >Cracked Haze (58)</option>
                                    <option value = 96 >Pyro - General (60)</option>
                                    <option value = 97 >Fireworks (61)</option>
                                    <option value = 98 >Explosions (62)</option>
                                    <option value = 99 >Flames (63)</option>
                                    <option value = 100 >Smokepots (64)</option>
                                </select>
                                <label>Command (Byte 5)</label>
                                <select id = command2>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 1 >Go (01)</option>
                                    <option value = 2 >Pause (02)</option>
                                    <option value = 3 >Resume (03)</option>
                                    <option value = 6 >Set Submaster (06)</option>
                                    <option value = 7 >Fire (07)</option>
                                </select>
                            </fieldset>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend>SYSEX CUE LIST </legend>
                        <label>Sysex Cue List</label>
                        <select id = sysexcuelist2 onchange="sysexcuelistchange2()">
                            <option value = "" >Select</option>
                            <option value =0>Allow All</option>
                            <option value =1>Allow One</option>
                            <option value =2>Allow Range</option>
                            <option value =3>Ignore One</option>
                            <option value =4>Ignore Range</option>
                        </select>
                        <div id="sysexcuelist2a">
                            <label>Cue List Number</label>
                            <input id=cuelistnumber2a name=cuelistnumber2a type=number value="1" min="1" max="512" style = "width: 3.3em" >
                        </div>
                        <div id="sysexcuelist2b">
                            <label>Cue List Start</label>
                            <input id=cuelistnumber2b name=cuelistnumber2b type=number value="1" min="1" max="512" style = "width: 3.3em" >
                            <label>Cue List End</label>
                            <input id=cuelistnumber2c name=cuelistnumber2c type=number value="1" min="1" max="512" style = "width: 3.3em" >
                        </div>
                    </fieldset>



                    <fieldset>
                        <legend>Non Sysex (3 Byte)</legend>
                        <label>Non Sysex</label>
                        <select id = nonsysex2 onchange="nonsysexchange2()">
                            <option value = "" >Select</option>
                            <option value =0>Allow All</option>
                            <option value =1>Select Specific</option>
                            <option value =2>Ignore Specific</option>
                        </select>
                        <div id = other2>
                            <fieldset>
                                <legend>Non Sysex Command</legend>
                                <label>Midi Type</label>
                                <select id = nonsysextype2 >
                                    <option value = "" >Select</option>
                                    <option value = 15>ANY</option>
                                    <option value = 1 >Note</option>
                                    <option value = 2 >All but Note</option>
                                </select>
                                <label>Channel</label>
                                <select id = nonsysexchannel2>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                            </fieldset>
                        </div>

                    </fieldset>
                </fieldset>


                <fieldset id = midi3>
                    <legend>Midi Input 3</legend>
                    <fieldset>
                        <legend>SYSEX</legend>
                        <label>SYSEX</label>
                        <select id = midisysex3 onchange="midisysexchange3()">
                            <option value = "" >Select</option>
                            <option value =0 >Allow All</option>
                            <option value =1 >Select Specific</option>
                            <option value =2>Ignore Specific</option>
                        </select>
                        <div id = sysex3>
                            <fieldset>
                                <legend>Sysex Command</legend>
                                <label>Device ID(Byte 2)</label>
                                <select id = deviceIDLow3>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                                <select id = deviceIDHigh3>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                                <label>Sysex Type(Byte 3)</label>
                                <select id = type3>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 01 >Long Form MTC (01)</option>
                                    <option value = 02 >MIDI Show Control (02)</option>
                                    <option value = 03 >Notation Information (03)</option>
                                    <option value = 04 >Device Control (04)</option>
                                    <option value = 05 >Real Time MTC Cueing (05)</option>
                                    <option value = 06 >MIDI Machine Control Command (06)</option>
                                    <option value = 07 >MIDI Machine Control Response (07)</option>
                                    <option value = 08 >Single Note Retune (08)</option>
                                </select>
                                <div></div>
                                <label>Command Format(Byte 4)</label>
                                <select id = commandformat3>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 1 >Lighting - General (01)</option>
                                    <option value = 2 >Moving Lights (02)</option>
                                    <option value = 3 >Color Changes (03)</option>
                                    <option value = 4 >Strobes (04)</option>
                                    <option value = 5 >Lasers (05)</option>
                                    <option value = 6 >Chasers (06)</option>
                                    <option value = 16 >Sound General (10)</option>
                                    <option value = 17 >Music (11)</option>
                                    <option value = 18 >CD Players (12</option>
                                    <option value = 19 >EPROM Playback (13)</option>
                                    <option value = 20 >Audio Tape Machines (14)</option>
                                    <option value = 21 >Intercoms (15)</option>
                                    <option value = 22 >Amplifiers (16)</option>
                                    <option value = 23 >Audio Effects Devices (17)</option>
                                    <option value = 24 >Equalizers (18)</option>
                                    <option value = 32 >Machinery - General (20)</option>
                                    <option value = 32 >Rigging (21)</option>
                                    <option value = 34 >Flies (22)</option>
                                    <option value = 35 >Lifts (23)</option>
                                    <option value = 36 >Turntables (24)</option>
                                    <option value = 37 >Trusses (25)</option>
                                    <option value = 38 >Robots (26)</option>
                                    <option value = 39 >Animation (27)</option>
                                    <option value = 40 >Floats (28)</option>
                                    <option value = 41 >Breakaways (29)</option>
                                    <option value = 42 >Barges (2A)</option>
                                    <option value = 48 >Video - General (30)</option>
                                    <option value = 49 >Video Tape Machines (31)</option>
                                    <option value = 50 >Video Cassette Machines (32)</option>
                                    <option value = 51 >Video Disk Players (33)</option>
                                    <option value = 52 >Video Switchers (34)</option>
                                    <option value = 53 >Video Effects (35)</option>
                                    <option value = 54 >Video Character Generators (36)</option>
                                    <option value = 55 >Video Still Stores (37)</option>
                                    <option value = 56 >Video Monitors (38)</option>
                                    <option value = 64 >Projection - General (40)</option>
                                    <option value = 65 >Film Projectors (41)</option>
                                    <option value = 66 >Slide Projectors (42)</option>
                                    <option value = 67 >Video Projectors (43)</option>
                                    <option value = 68 >Dissolvers (44)</option>
                                    <option value = 69 >Shutter Controls (45)</option>
                                    <option value = 80 >Process Control - General (50)</option>
                                    <option value = 81 >Hydraulic Oil (51)</option>
                                    <option value = 82 >H20 (52)</option>
                                    <option value = 83 >C02 (53)</option>
                                    <option value = 84 >Compressed Air (54)</option>
                                    <option value = 85 >Natural Gas (55)</option>
                                    <option value = 86 >Fog (56)</option>
                                    <option value = 87 >Smoke (57)</option>
                                    <option value = 88 >Cracked Haze (58)</option>
                                    <option value = 96 >Pyro - General (60)</option>
                                    <option value = 97 >Fireworks (61)</option>
                                    <option value = 98 >Explosions (62)</option>
                                    <option value = 99 >Flames (63)</option>
                                    <option value = 100 >Smokepots (64)</option>
                                </select>
                                <label>Command (Byte 5)</label>
                                <select id = command3>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 1 >Go (01)</option>
                                    <option value = 2 >Pause (02)</option>
                                    <option value = 3 >Resume (03)</option>
                                    <option value = 6 >Set Submaster (06)</option>
                                    <option value = 7 >Fire (07)</option>
                                </select>
                            </fieldset>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>SYSEX CUE LIST </legend>
                        <label>Sysex Cue List</label>
                        <select id = sysexcuelist3 onchange="sysexcuelistchange3()">
                            <option value = "" >Select</option>
                            <option value =0>Allow All</option>
                            <option value =1>Allow One</option>
                            <option value =2>Allow Range</option>
                            <option value =3>Ignore One</option>
                            <option value =4>Ignore Range</option>
                        </select>
                        <div id="sysexcuelist3a">
                            <label>Cue List Number</label>
                            <input id=cuelistnumber3a name=cuelistnumber3a type=number value="1" min="1" max="512" style = "width: 3.3em" >
                        </div>
                        <div id="sysexcuelist3b">
                            <label>Cue List Start</label>
                            <input id=cuelistnumber3b name=cuelistnumber3b type=number value="1" min="1" max="512" style = "width: 3.3em" >
                            <label>Cue List End</label>
                            <input id=cuelistnumber3c name=cuelistnumber3c type=number value="1" min="1" max="512" style = "width: 3.3em" >
                        </div>
                    </fieldset>




                    <fieldset>
                        <legend>Non Sysex (3 Byte)</legend>
                        <label>Non Sysex</label>
                        <select id = nonsysex3 onchange="nonsysexchange3()">
                            <option value = "" >Select</option>
                            <option value =0>Allow All</option>
                            <option value =1>Select Specific</option>
                            <option value =2>Ignore Specific</option>
                        </select>
                        <div id = other3>
                            <fieldset>
                                <legend>Non Sysex Command</legend>
                                <label>Midi Type</label>
                                <select id = nonsysextype3>
                                    <option value = "" >Select</option>
                                    <option value = 15>ANY</option>
                                    <option value = 1 >Note</option>
                                    <option value = 2 >All but Note</option>
                                </select>
                                <label>Channel</label>
                                <select id = nonsysexchannel3>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                            </fieldset>
                        </div>

                    </fieldset>
                </fieldset>
                <fieldset id = midi4>
                    <legend>Midi Input 4</legend>
                    <fieldset>
                        <legend>SYSEX</legend>
                        <label>SYSEX</label>
                        <select id = midisysex4 onchange="midisysexchange4()">
                            <option value = "" >Select</option>
                            <option value =0 >Allow All</option>
                            <option value =1 >Select Specific</option>
                            <option value =2>Ignore Specific</option>
                        </select>
                        <div id = sysex4>
                            <fieldset>
                                <legend>Sysex Command</legend>
                                <label>Device ID(Byte 2)</label>
                                <select id = deviceIDLow4>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                                <select id = deviceIDHigh4>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                                <label>Sysex Type(Byte 3)</label>
                                <select id = type4>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 01 >Long Form MTC (01)</option>
                                    <option value = 02 >MIDI Show Control (02)</option>
                                    <option value = 03 >Notation Information (03)</option>
                                    <option value = 04 >Device Control (04)</option>
                                    <option value = 05 >Real Time MTC Cueing (05)</option>
                                    <option value = 06 >MIDI Machine Control Command (06)</option>
                                    <option value = 07 >MIDI Machine Control Response (07)</option>
                                    <option value = 08 >Single Note Retune (08)</option>
                                </select>
                                <div></div>
                                <label>Command Format(Byte 4)</label>
                                <select id = commandformat4>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 1 >Lighting - General (01)</option>
                                    <option value = 2 >Moving Lights (02)</option>
                                    <option value = 3 >Color Changes (03)</option>
                                    <option value = 4 >Strobes (04)</option>
                                    <option value = 5 >Lasers (05)</option>
                                    <option value = 6 >Chasers (06)</option>
                                    <option value = 16 >Sound General (10)</option>
                                    <option value = 17 >Music (11)</option>
                                    <option value = 18 >CD Players (12</option>
                                    <option value = 19 >EPROM Playback (13)</option>
                                    <option value = 20 >Audio Tape Machines (14)</option>
                                    <option value = 21 >Intercoms (15)</option>
                                    <option value = 22 >Amplifiers (16)</option>
                                    <option value = 23 >Audio Effects Devices (17)</option>
                                    <option value = 24 >Equalizers (18)</option>
                                    <option value = 32 >Machinery - General (20)</option>
                                    <option value = 32 >Rigging (21)</option>
                                    <option value = 34 >Flies (22)</option>
                                    <option value = 35 >Lifts (23)</option>
                                    <option value = 36 >Turntables (24)</option>
                                    <option value = 37 >Trusses (25)</option>
                                    <option value = 38 >Robots (26)</option>
                                    <option value = 39 >Animation (27)</option>
                                    <option value = 40 >Floats (28)</option>
                                    <option value = 41 >Breakaways (29)</option>
                                    <option value = 42 >Barges (2A)</option>
                                    <option value = 48 >Video - General (30)</option>
                                    <option value = 49 >Video Tape Machines (31)</option>
                                    <option value = 50 >Video Cassette Machines (32)</option>
                                    <option value = 51 >Video Disk Players (33)</option>
                                    <option value = 52 >Video Switchers (34)</option>
                                    <option value = 53 >Video Effects (35)</option>
                                    <option value = 54 >Video Character Generators (36)</option>
                                    <option value = 55 >Video Still Stores (37)</option>
                                    <option value = 56 >Video Monitors (38)</option>
                                    <option value = 64 >Projection - General (40)</option>
                                    <option value = 65 >Film Projectors (41)</option>
                                    <option value = 66 >Slide Projectors (42)</option>
                                    <option value = 67 >Video Projectors (43)</option>
                                    <option value = 68 >Dissolvers (44)</option>
                                    <option value = 69 >Shutter Controls (45)</option>
                                    <option value = 80 >Process Control - General (50)</option>
                                    <option value = 81 >Hydraulic Oil (51)</option>
                                    <option value = 82 >H20 (52)</option>
                                    <option value = 83 >C02 (53)</option>
                                    <option value = 84 >Compressed Air (54)</option>
                                    <option value = 85 >Natural Gas (55)</option>
                                    <option value = 86 >Fog (56)</option>
                                    <option value = 87 >Smoke (57)</option>
                                    <option value = 88 >Cracked Haze (58)</option>
                                    <option value = 96 >Pyro - General (60)</option>
                                    <option value = 97 >Fireworks (61)</option>
                                    <option value = 98 >Explosions (62)</option>
                                    <option value = 99 >Flames (63)</option>
                                    <option value = 100 >Smokepots (64)</option>
                                </select>
                                <label>Command (Byte 5)</label>
                                <select id = command4>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 1 >Go (01)</option>
                                    <option value = 2 >Pause (02)</option>
                                    <option value = 3 >Resume (03)</option>
                                    <option value = 6 >Set Submaster (06)</option>
                                    <option value = 7 >Fire (07)</option>
                                </select>
                            </fieldset>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>SYSEX CUE LIST </legend>
                        <label>Sysex Cue List</label>
                        <select id = sysexcuelist4 onchange="sysexcuelistchange4()">
                            <option value = "" >Select</option>
                            <option value =0>Allow All</option>
                            <option value =1>Allow One</option>
                            <option value =2>Allow Range</option>
                            <option value =3>Ignore One</option>
                            <option value =4>Ignore Range</option>
                        </select>
                        <div id="sysexcuelist4a">
                            <label>Cue List Number</label>
                            <input id=cuelistnumber4a name=cuelistnumber4a type=number value="1" min="1" max="512" style = "width: 3.3em" >
                        </div>
                        <div id="sysexcuelist4b">
                            <label>Cue List Start</label>
                            <input id=cuelistnumber4b name=cuelistnumber4b type=number value="1" min="1" max="512" style = "width: 3.3em" >
                            <label>Cue List End</label>
                            <input id=cuelistnumber4c name=cuelistnumber4c type=number value="1" min="1" max="512" style = "width: 3.3em" >
                        </div>
                    </fieldset>




                    <fieldset>
                        <legend>Non Sysex (3 Byte)</legend>
                        <label>Non Sysex</label>
                        <select id = nonsysex4 onchange="nonsysexchange4()">
                            <option value = "" >Select</option>
                            <option value =0>Allow All</option>
                            <option value =1>Select Specific</option>
                            <option value =2>Ignore Specific</option>
                        </select>
                        <div id = other4>
                            <fieldset>
                                <legend>Non Sysex Command</legend>
                                <label>Midi Type</label>
                                <select id = nonsysextype4 >
                                    <option value = "" >Select</option>
                                    <option value = 15>ANY</option>
                                    <option value = 1 >Note</option>
                                    <option value = 2 >All but Note</option>
                                </select>
                                <label>Channel</label>
                                <select id = nonsysexchannel4>
                                    <option value = "" >Select</option>
                                    <option value = 15 >ANY</option>
                                    <option value = 0 >0</option>
                                    <option value = 1 >1</option>
                                    <option value = 2 >2</option>
                                    <option value = 3 >3</option>
                                    <option value = 4 >4</option>
                                    <option value = 5 >5</option>
                                    <option value = 6 >6</option>
                                    <option value = 7 >7</option>
                                    <option value = 8 >8</option>
                                    <option value = 9 >9</option>
                                    <option value = 10 >A</option>
                                    <option value = 11 >B</option>
                                    <option value = 12 >C</option>
                                    <option value = 13 >D</option>
                                    <option value = 14 >E</option>
                                    <option value = 15 >F</option>
                                </select>
                            </fieldset>
                        </div>

                    </fieldset>
                </fieldset>


        </fieldset>


        <div>
            <label id = nodisplay>test</label>
        </div>

        <button id = "saveparameters"  onmousedown = "saveParameters()">Save Startup Parameters</button>
        <button id = "closepparameters"  onmousedown = "closeParameters()">Close Startup Parameters</button>

    </fieldset>

    <fieldset id = "midi">
        <legend>Midi Send</legend>

            <ul> <input type = "radio" checked name = "midioutput" id = "light" value = "light" checked >
            <label for = "light">Light Cue</label>
            <input id=lightcuenumber name=lightcuenumber   value="123.4" required style = "width: 8em" ></ul>
            <ul><input type = "radio" name = "midioutput" id = "noteon" value = "noteon" >
            <label for = "noteon">Note On - 92 04 03</label></ul>
            <ul> <input type = "radio" checked name = "midioutput" id = "noteoff" value = "noteoff" >
            <label for = "noteoff">Note Off - 82 12 16</label></ul>
            <ul> <input type = "radio" checked name = "midioutput" id = "hex" value = "hex"  >
            <label for = "hex">HEX</label>
            <input id=hexnumber name=hexnumber type=text value="891221" required style = "width: 8em" ></ul>

            <button id = "midi1button"  onmousedown = "midi1button()"> Send Midi 1 </button>
            <button id = "midi2button"  onmousedown = "midi2button()"> Send Midi 2 </button>
            <label>Next Cue</label>
            <input id=cuenumber name=cuenumber type=text value="1" required style = "width: 3em" >
            <label>Delay</label>
            <input id=cuetime name=cuetime type=text value="5" required style = "width: 3em" >
            <button id = "sendMidiAuto"  onmousedown = "sendMidiAuto()">Send Midi 1 Auto</button>
    </fieldset>


    <fieldset>
        <legend id = "legend1">Send To R Type Receivers</legend>

        Show Name: <input id=showname name=showname type=text value="ShowName" required style = "width: 8em"  >

        <div>
            Output:    Slides <input id=r4slidescue name=outputcue value= "r4slidescue" type=radio checked>
            Slides B <input id=r4slidescue name=outputcue value= "r4slidescueB" type=radio>
            Audio A<input id=r4audiocue name=outputcue value = "r4audiocueA" type=radio >
            Audio B<input id=r4audiocue name=outputcue value = "r4audiocueB" type=radio >
            Audio C<input id=r4audiocue name=outputcue value = "r4audiocueC" type=radio >
            Video<input id=r4audiocue name=outputcue value = "r4videocue" type=radio >
        </div>

        <div>
            Directory:     <input id=directory name=directory type=text  style = "width: 8em" required>
            Next Cue: <input id=cue name=cue type=number value=1 required style = "width: 5em">
            Delay: <input id=delay name=delay type=number value=5 required style = "width: 5em">
        </div>

        <div id="buttondiv">
            <button id = "r4CueManual"  onmousedown = "r4CueManual()">Send Cue</button>
            <button id = "r4CueAuto"  onmousedown = "r4CueAuto()">Send Cue Auto</button>
        </div>

    </fieldset>

    <fieldset id = "System Test">
        <legend>Complete System Test </legend>
        <button id = "systemtestbutton"  onmousedown = "systemtestbutton()"> System Test (Must have Zigee Channel 2 Connected) </button>
    </fieldset>

    <fieldset id = "time">
        <legend>Date & Time</legend>
        <button id = 'gettimebutton' onmousedown="gettimebutton()"> Get CS4 Time</button>
        <button id = "timebutton"  onmousedown = "timebutton()"> Update CS4 Time to My Time </button>
    </fieldset>

    <fieldset id = "relay">
        <legend>Relay Control</legend>
        <button id = "relay1onbutton"  onmousedown = "relay1onbutton()"> Relay 1 ON </button>
        <button id = "relay2onbutton"  onmousedown = "relay2onbutton()"> Relay 2 ON </button>
        <button id = "relay3onbutton"  onmousedown = "relay3onbutton()"> Relay 3 ON </button>
        <button id = "relay4onbutton"  onmousedown = "relay4onbutton()"> Relay 4 ON </button>
        <button id = "relay1offbutton"  onmousedown = "relay1offbutton()"> Relay 1 OFF </button>
        <button id = "relay2offbutton"  onmousedown = "relay2offbutton()"> Relay 2 OFF </button>
        <button id = "relay3offbutton"  onmousedown = "relay3offbutton()"> Relay 3 OFF </button>
        <button id = "relay4offbutton"  onmousedown = "relay4offbutton()"> Relay 4 OFF </button>

    </fieldset>

    <fieldset id = "status">
        <legend>CS4 Input Status</legend>
        <button id = "adc1button"  onmousedown = "adc1button()"> ADC 1 </button>
        <button id = "adc2button"  onmousedown = "adc2button()"> ADC 2 </button>
        <button id = "closure1button"  onmousedown = "closure1button()"> Closure 1 </button>
        <button id = "closure2button"  onmousedown = "closure2button()"> Closure 2 </button>
        <button id = "dmxbutton"  onmousedown = "dmxbutton()"> DMX </button>

    </fieldset>
    <!--
        <fieldset id = "display">
            <legend>Display Text</legend>
            <label>Text To Send</label>
            <input id=texttosend name=texttosend type=text value="This text will be sent to R4 Receivers" required style = "width: 8em" >
            <label>Show Name</label>
            <input id=showname name=showname type=text value="show" required style = "width: 8em" >
            <button id = "sendtext"  onmousedown = "sendtext()"> Send To Display </button>

        </fieldset>
    -->
        <fieldset id = "fieldset2" class = field>
            <legend><b>Serial Ports</b></legend>
            <div>
                ASCII <input id= 'asciiselect' name=serialtype value= " A" type=radio checked>
                HEX<input id= 'serialhex' name=serialtype value = " H" type=radio >
            </div>
            <select id='serialselect' >
                <option value=' SLAVE SER1' title='1'>Serial 1</option>
                <option value=' SLAVE SER2' title='2'>Serial 2</option>
                <option value=' SLAVE SER3' title='3'>Serial 3</option>
            </select>
            <select id= baudselect >
                <option value=' 9600' title='9600'>9600 Baud</option>
                <option value=' 1200' title='1200'>1200</option>
                <option value=' 4800' title='4800'>4800</option>
                <option value=' 9600' title='9600'>9600</option>
                <option value=' 14400' title='14400'>14400</option>
                <option value=' 19200' title='19200'>19200</option>
                <option value=' 28800' title='28800'>28800</option>
                <option value=' 38400' title='38400'>38400</option>
                <option value=' 57600' title='57600'>57600</option>
                <option value=' 115200' title='115200'>115200</option>
            </select>
            <select id= parityselect >
                Parity: <option value=' N' title='NONE'>Parity: NONE</option>
                <option value=' O' title='ODD'>Parity: ODD</option>
                <option value=' E' title='EVEN'>Parity: EVEN</option>
            </select>
            <input id=message name=message   value="text" required style = "width: 10em" >Message</ul>
            <div id="buttondiv2">
                <button id = "sendserial"   class = but  onmousedown = "sendserial()"> Send </button>
            </div>
        </fieldset>

        <fieldset id = "dac">
            <legend>DAC</legend>
            <label>DAC 1 (Millivolts)</label>
            <input id=dac1output name=dac1output type=number min="0" max="5000" value="3000" required style = "width: 8em" >
            <button id = "dac1button"  onmousedown = "dac1button()"> DAC 1 </button>
            <label>DAC 2 (Millivolts)</label>
            <input id=dac2output name=dac2output type=number  min="0" max="5000" value="2000" required style = "width: 8em" >
            <button id = "dac2button"  onmousedown = "dac2button()"> DAC 2 </button>

        </fieldset>

        <fieldset id = "SMPTE Output">
            <legend>SMTPE Output</legend>
            <button id = "smpteonbutton"  onmousedown = "smpteonbutton()"> SMPTE ON </button>
            <button id = "smpteoffbutton"  onmousedown = "smpteoffbutton()"> SMPTE OFF </button>

        </fieldset>

        <fieldset id = "dmxch">
            <legend>DMX Channel Select</legend>
            <label>1st Channel</label>
            <input id=dmx1 name=dmx1 type=number value=" " min="1" max="512" style = "width: 3.3em" >
            <label>2nd Channel</label>
            <input id=dmx2 name=dmx2 type=number value=" " min="1" max="512" required style = "width: 3.3em" >
            <label>3rd Chanel</label>
            <input id=dmx3 name=dmx3 type=number value="  " min="1" max="512" required style = "width: 3.3em" >
            <button id = "dmxchwatch"  onmousedown = "dmxchwatch()"> Temporarily Update DMX Channel Watch </button>

        </fieldset>

        <fieldset id = "copy">
            <legend>Data Base Files</legend>

            <button id = "copyToUSB"  onmousedown = "copyToUSB()">Copy Data TO USB </button>
            <button id = "copyFromUSB"  onmousedown = "copyFromUSB()">Copy Data From USB </button>
            <button id = "copyToInternal"  onmousedown = "copyToInternal()">Backup Data TO Internal </button>
            <button id = "copyFromInternal"  onmousedown = "copyFromInternal()">Restore Data FROM Internal </button>
            <select id= internalLocation >
                <option value='-1' >Select Internal Location</option>
                <option value='' >Default Location</option>
                <option value=' 1' >Internal Location 1</option>
                <option value=' 2' >Internal Location 2</option>
                <option value=' 3' >Internal Location 3</option>
                <option value=' 4' >Internal Location 4</option>
            </select>
            <button id = "copyToPublic"  onmousedown = "copyToPublic()">Download All Files </button>
            <button id = "copyFromPublic"  onmousedown = "copyFromPublic()">Upload All Files </button>
            <!--* Todd - this is the file select control -->
            <input style="" type="file" id="selectfiles" multiple="multiple" webkitdirectory="" directory="">

            <a href="/images/WizDb/cue.bson" download>
                <button class = "hide" id = "dl1" >dl1</button>
            </a>
            <a href="/images/WizDb/cue.metadata.json" download>
                <button class = "hide" id = "dl2" >dl2</button>
            </a>
            <a href="/images/WizDb/log.bson" download>
                <button class = "hide" id = "dl3" >dl3</button>
            </a>
            <a href="/images/WizDb/log.metadata.json" download>
                <button class = "hide" id = "dl4" >dl4</button>
            </a>
            <a href="/images/WizDb/settings.bson" download>
                <button class = "hide" id = "dl5" >dl5</button>
            </a>
            <a href="/images/WizDb/settings.metadata.json" download>
                <button class = "hide" id = "dl6" >dl6</button>
            </a>
            <a href="/images/WizDb/startup.bson" download>
                <button class = "hide" id = "dl7" >dl7</button>
            </a>
            <a href="/images/WizDb/startup.metadata.json" download>
                <button class = "hide" id = "dl8" >dl8</button>
            </a>

        </fieldset>

    </body>




    </html>