<!DOCTYPE html>

    <script  src = "./Scripts/cs4Settings.js"> </script>
    <script  src = "./Scripts/cs4Menu.js"> </script>
    <link rel='stylesheet'  href='./stylesheets/cs4Settings.css'>
    <link rel='stylesheet'  href='./stylesheets/cs4Menu.css'>
<script>
   // window.addEventListener("init",onload, false);

    var cs4Settings=<%-JSON.stringify(cs4Settings)%> ;// load the settings from the setting collection

</script>
<html>

<head>

    <title>CS4 System Settings</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

</head>



<body class = "body" id = "body">

    <h1>CS4 Setup</h1>

    <header class="mainheader">
        <div id="menubutton">
            <button id = "buttonMenu"  onmousedown = "buttonMenu()"><span id="buttontext">|||</span></button>
        </div>
        <nav id = "menunav">
            <ul>
                <li><a href="cs4Home">Home</a></li>
                <li><a href="cs4VerticalScroll" >Scrolling</a></li>
                <li><a href="cs4Info" >Info</a></li>
                <li><a href="cs4Timing">Timing</a></li>
                <li class="active"><a href="cs4Settings">Settings</a></li>
                <li><a href="./images/CS4Help.pdf" target="_blank">Help</a></li>
            </ul>
        </nav>
    </header>



    <div id = "title" >

        <button id = "buttonBackground"  onmousedown = "buttonBackground()"> BkGnd </button>
        <button id = "buttonClear"  onmousedown = "buttonClear()"> Clear</button>
        <button id = "buttonStartupParameters"  onmousedown = "buttonStartupParameters()"> Show Startup Parameters</button>
        <h2 >Event Log</h2>


    </div>

    <pre>
        <div id="websocketlog" class="log">
            <h4> Waiting for connection...</h4>
        </div>
    </pre>

    <fieldset id = "setup">
        <legend>Startup Parameters</legend>
        <div>
            <label>Name of System</label>
            <input id=systemname name=systemname type=text value="CS4 System"  style = "width: 13.3em" >
        </div>
        <div>
            Ignore Input Source:   Yes <input id=inputsourceyes name=inputsource value= "sourceyes" type=radio checked>
            No<input id=inputsourceno name=inputsource value = "sourceno" type=radio >
        </div>
        <div>
            Enable Zigbee Monitor:   Yes <input id=zigbeemonitoryes name=zigbeemonitor value= "monitoryes" type=radio checked>
            No<input id=zigbeemonitorno name=zigbeemonitor value = "monitorno" type=radio >
        </div>

        <div>
            <label>Self Test Start Time
            </label>
            <select id=testtimeselect >
                <option value='00:00:00' title='00'>00:00:00 (24 hour format)</option>
                <option value='01:00:00' title='01'>01:00:00</option>
                <option value='02:00:00' title='02'>02:00:00</option>
                <option value='03:00:00' title='03'>03:00:00</option>
                <option value='04:00:00' title='04'>04:00:00</option>
                <option value='05:00:00' title='05'>05:00:00</option>
                <option value='06:00:00' title='06'>06:00:00</option>
                <option value='07:00:00' title='07'>07:00:00</option>
                <option value='08:00:00' title='08'>08:00:00</option>
                <option value='09:00:00' title='09'>09:00:00</option>
                <option value='10:00:00' title='10'>10:00:00</option>
                <option value='11:00:00' title='11'>11:00:00</option>
                <option value='12:00:00' title='12'>12:00:00</option>
                <option value='13:00:00' title='13'>13:00:00</option>
                <option value='14:00:00' title='14'>14:00:00</option>
                <option value='15:00:00' title='15'>15:00:00</option>
                <option value='16:00:00' title='16'>16:00:00</option>
                <option value='17:00:00' title='17'>17:00:00</option>
                <option value='18:00:00' title='18'>18:00:00</option>
                <option value='19:00:00' title='19'>19:00:00</option>
                <option value='20:00:00' title='20'>20:00:00</option>
                <option value='21:00:00' title='21'>21:00:00</option>
                <option value='22:00:00' title='22'>22:00:00</option>
                <option value='21:00:00' title='23'>23:00:00</option>
            </select>
            <label>Email Address For Messages</label>
            <input id=email name=email  style = "width: 15em" >
        </div>
        <div>
            <fieldset id = dmxsetup>
                <legend>DMX Channel Monitor</legend>
                    <label>1st Channel</label>
                    <input id=startupdmx1 name=startupdmx1 type=number value="1" min="1" max="512" style = "width: 3.3em" >
                    <label>2nd Channel</label>
                    <input id=startupdmx2 name=startupdmx2 type=number value="2" min="1" max="512" required style = "width: 3.3em" >
                    <label>3rd Chanel</label>
                    <input id=startupdmx3 name=startupdmx3 type=number value="3" min="1" max="512" required style = "width: 3.3em" >
            </fieldset>
        </div>
        <button id = "saveparameters"  onmousedown = "saveParameters()">Save Startup Parameters</button>
        <button id = "closepparameters"  onmousedown = "closeParameters()">Close Startup Parameters</button>

    </fieldset>

    <fieldset id = "midi">
        <legend>Midi Send</legend>

            <ul> <input type = "radio" checked name = "midioutput" id = "light" value = "light" checked >
            <label for = "light">Light Cue</label>
            <input id=lightcuenumber name=lightcuenumber   value="123.4" required style = "width: 8em" ></ul>
            <ul><input type = "radio" name = "midioutput" id = "noteon" value = "noteon" >
            <label for = "noteon">Note On - 92 04 03</label></ul>
            <ul> <input type = "radio" checked name = "midioutput" id = "noteoff" value = "noteoff" >
            <label for = "noteoff">Note Off - 82 12 16</label></ul>
            <ul> <input type = "radio" checked name = "midioutput" id = "hex" value = "hex"  >
            <label for = "hex">HEX</label>
            <input id=hexnumber name=hexnumber type=text value="891221" required style = "width: 8em" ></ul>

            <button id = "midi1button"  onmousedown = "midi1button()"> Send Midi 1 </button>
            <button id = "midi2button"  onmousedown = "midi2button()"> Send Midi 2 </button>
            <label>Next Cue</label>
            <input id=cuenumber name=cuenumber type=text value="1" required style = "width: 3em" >
            <label>Delay</label>
            <input id=cuetime name=cuetime type=text value="5" required style = "width: 3em" >
            <button id = "sendMidiAuto"  onmousedown = "sendMidiAuto()">Send Midi 1 Auto</button>
    </fieldset>


    <fieldset>
        <legend id = "legend1">Send To R4</legend>

        Show Name: <input id=showname name=showname type=text value="ShowName" required style = "width: 8em"  >

        <div>
            Output:   R4 Slides <input id=r4slidescue name=outputcue value= "r4slidescue" type=radio checked>
            R4 Audio<input id=r4audiocue name=outputcue value = "r4audiocue" type=radio >
        </div>

        <div>
            Directory:     <input id=directory name=directory type=text  style = "width: 8em" required>
            Next Cue: <input id=cue name=cue type=number value=1 required style = "width: 5em">
            Delay: <input id=delay name=delay type=number value=5 required style = "width: 5em">
        </div>

        <div id="buttondiv">
            <button id = "r4CueManual"  onmousedown = "r4CueManual()">Send Cue</button>
            <button id = "r4CueAuto"  onmousedown = "r4CueAuto()">Send Cue Auto</button>
        </div>

    </fieldset>

    <fieldset id = "System Test">
        <legend>Complete System Test </legend>
        <button id = "systemtestbutton"  onmousedown = "systemtestbutton()"> System Test (Must have Zigee Channel 2 Connected) </button>
    </fieldset>

    <fieldset id = "time">
        <legend>Date & Time</legend>
        <button id = 'gettimebutton' onmousedown="gettimebutton()"> Get CS4 Time</button>
        <button id = "timebutton"  onmousedown = "timebutton()"> Update CS4 Time to My Time </button>
        <select id='timeZoneCombo'  onchange='timeZoneChange();'>
            <option value='-1' title='-select one-'>-Select to Change Time Zone of CS4-</option>
            <option value='US/Eastern' title='US/Eastern'>US/Eastern</option>
            <option value='US/Central' title='US/Central'>US/Central</option>
            <option value='US/Mountain' title='US/Mountain'>US/Mountain</option>
            <option value='US/Pacific' title='US/Pacific'>US/Pacific</option>
            <option value='GMT' title='GMT'>GMT</option>
        </select>
    </fieldset>

    <fieldset id = "relay">
        <legend>Relay Control</legend>
        <button id = "relay1onbutton"  onmousedown = "relay1onbutton()"> Relay 1 ON </button>
        <button id = "relay2onbutton"  onmousedown = "relay2onbutton()"> Relay 2 ON </button>
        <button id = "relay3onbutton"  onmousedown = "relay3onbutton()"> Relay 3 ON </button>
        <button id = "relay4onbutton"  onmousedown = "relay4onbutton()"> Relay 4 ON </button>
        <button id = "relay1offbutton"  onmousedown = "relay1offbutton()"> Relay 1 OFF </button>
        <button id = "relay2offbutton"  onmousedown = "relay2offbutton()"> Relay 2 OFF </button>
        <button id = "relay3offbutton"  onmousedown = "relay3offbutton()"> Relay 3 OFF </button>
        <button id = "relay4offbutton"  onmousedown = "relay4offbutton()"> Relay 4 OFF </button>

    </fieldset>

    <fieldset id = "status">
        <legend>CS4 Input Status</legend>
        <button id = "adc1button"  onmousedown = "adc1button()"> ADC 1 </button>
        <button id = "adc2button"  onmousedown = "adc2button()"> ADC 2 </button>
        <button id = "closure1button"  onmousedown = "closure1button()"> Closure 1 </button>
        <button id = "closure2button"  onmousedown = "closure2button()"> Closure 2 </button>
        <button id = "dmxbutton"  onmousedown = "dmxbutton()"> DMX </button>

    </fieldset>
    <!--
        <fieldset id = "display">
            <legend>Display Text</legend>
            <label>Text To Send</label>
            <input id=texttosend name=texttosend type=text value="This text will be sent to R4 Receivers" required style = "width: 8em" >
            <label>Show Name</label>
            <input id=showname name=showname type=text value="show" required style = "width: 8em" >
            <button id = "sendtext"  onmousedown = "sendtext()"> Send To Display </button>

        </fieldset>
    -->
        <fieldset id = "fieldset2" class = field>
            <legend><b>Serial Ports</b></legend>
            <div>
                ASCII <input id= 'asciiselect' name=serialtype value= " A" type=radio checked>
                HEX<input id= 'serialhex' name=serialtype value = " H" type=radio >
            </div>
            <select id='serialselect' >
                <option value=' SLAVE SER1' title='1'>Serial 1</option>
                <option value=' SLAVE SER2' title='2'>Serial 2</option>
                <option value=' SLAVE SER3' title='3'>Serial 3</option>
            </select>
            <select id= baudselect >
                <option value=' 9600' title='9600'>9600 Baud</option>
                <option value=' 1200' title='1200'>1200</option>
                <option value=' 4800' title='4800'>4800</option>
                <option value=' 9600' title='9600'>9600</option>
                <option value=' 14400' title='14400'>14400</option>
                <option value=' 19200' title='19200'>19200</option>
                <option value=' 28800' title='28800'>28800</option>
                <option value=' 38400' title='38400'>38400</option>
                <option value=' 57600' title='57600'>57600</option>
                <option value=' 115200' title='115200'>115200</option>
            </select>
            <select id= parityselect >
                Parity: <option value=' N' title='NONE'>Parity: NONE</option>
                <option value=' O' title='ODD'>Parity: ODD</option>
                <option value=' E' title='EVEN'>Parity: EVEN</option>
            </select>
            <input id=message name=message   value="text" required style = "width: 10em" >Message</ul>
            <div id="buttondiv2">
                <button id = "sendserial"   class = but  onmousedown = "sendserial()"> Send </button>
            </div>
        </fieldset>

        <fieldset id = "dac">
            <legend>DAC</legend>
            <label>DAC 1 (Millivolts)</label>
            <input id=dac1output name=dac1output type=number min="0" max="5000" value="3000" required style = "width: 8em" >
            <button id = "dac1button"  onmousedown = "dac1button()"> DAC 1 </button>
            <label>DAC 2 (Millivolts)</label>
            <input id=dac2output name=dac2output type=number  min="0" max="5000" value="2000" required style = "width: 8em" >
            <button id = "dac2button"  onmousedown = "dac2button()"> DAC 2 </button>

        </fieldset>

        <fieldset id = "SMPTE Output">
            <legend>SMTPE Output</legend>
            <button id = "smpteonbutton"  onmousedown = "smpteonbutton()"> SMPTE ON </button>
            <button id = "smpteoffbutton"  onmousedown = "smpteoffbutton()"> SMPTE OFF </button>

        </fieldset>

        <fieldset id = "dmxch">
            <legend>DMX Channel Select</legend>
            <label>1st Channel</label>
            <input id=dmx1 name=dmx1 type=number value="1" min="1" max="512" style = "width: 3.3em" >
            <label>2nd Channel</label>
            <input id=dmx2 name=dmx2 type=number value="2" min="1" max="512" required style = "width: 3.3em" >
            <label>3rd Chanel</label>
            <input id=dmx3 name=dmx3 type=number value="3" min="1" max="512" required style = "width: 3.3em" >
            <button id = "dmxchwatch"  onmousedown = "dmxchwatch()"> Update DMX Channel Watch </button>

        </fieldset>

        <fieldset id = "copy">
            <legend>Data Base Files</legend>

            <button id = "copyToUSB"  onmousedown = "copyToUSB()">Copy Data TO USB </button>
            <button id = "copyFromUSB"  onmousedown = "copyFromUSB()">Copy Data From USB </button>
            <button id = "copyToInternal"  onmousedown = "copyToInternal()">Backup Data TO Internal </button>
            <button id = "copyFromInternal"  onmousedown = "copyFromInternal()">Restore Data FROM Internal </button>
            <select id= internalLocation >
                <option value='-1' >Select Internal Location</option>
                <option value='' >Default Location</option>
                <option value=' 1' >Internal Location 1</option>
                <option value=' 2' >Internal Location 2</option>
                <option value=' 3' >Internal Location 3</option>
                <option value=' 4' >Internal Location 4</option>
            </select>
            <button id = "copyToPublic"  onmousedown = "copyToPublic()">Download All Files </button>

            <a href="/images/WizDb/cue.bson" download>
                <button class = "hide" id = "dl1" >dl1</button>
            </a>
            <a href="/images/WizDb/cue.metadata.json" download>
                <button class = "hide" id = "dl2" >dl2</button>
            </a>
            <a href="/images/WizDb/log.bson" download>
                <button class = "hide" id = "dl3" >dl3</button>
            </a>
            <a href="/images/WizDb/log.metadata.json" download>
                <button class = "hide" id = "dl4" >dl4</button>
            </a>
            <a href="/images/WizDb/settings.bson" download>
                <button class = "hide" id = "dl5" >dl5</button>
            </a>
            <a href="/images/WizDb/settings.metadata.json" download>
                <button class = "hide" id = "dl6" >dl6</button>
            </a>
            <a href="/images/WizDb/startup.bson" download>
                <button class = "hide" id = "dl7" >dl7</button>
            </a>
            <a href="/images/WizDb/startup.metadata.json" download>
                <button class = "hide" id = "dl8" >dl8</button>
            </a>

        </fieldset>

    </body>




    </html>