<!DOCTYPE html>

    <script  src = "/Scripts/cs4Timing.js"> </script>
    <script  src = "/Scripts/cs4Menu.js"> </script>
    <link rel='stylesheet'  href='/stylesheets/cs4Timing.css'>
    <link rel='stylesheet'  href='/stylesheets/cs4Menu.css'>
<script>

 var Test =    "<%=Test%>" ;
 var Desc =    "<%=JSON.stringify(Desc)%>";
 var Settings ="<%=JSON.stringify(Settings)%>";

</script>
<html>
<head>
    <title>CS4 Timings</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>

<body class = "body" id="body">

    <h1>CS4 Timings Screen</h1>

    <header class="mainheader">
        <div id="menubutton">
            <button id = "buttonMenu"  onmousedown = "buttonMenu()"><span id="buttontext">|||</span></button>
        </div>
        <nav id = "menunav">
            <ul>
                <li><a href="/cs4Home">Home</a></li>
                <li><a href="/cs4VerticalScroll" >Scrolling</a></li>
                <li><a href="/cs4Info" >Info</a></li>
                <li class="active"><a href="/cs4Timing">Timing</a></li>
                <li><a href="/cs4Edit">Edit</a></li>
                <li><a href="/cs4Settings">Settings</a></li>
                <li><a href="/images/CS4Help.pdf" target="_blank">Help</a></li>
            </ul>
        </nav>
    </header>

    <div id="blackout">

        <div id = "title" >
            <button id = "buttonBackground"  onmousedown = "buttonBackground()"> BkGnd </button>
            <button id = "buttonClear"  onmousedown = "buttonClear()">Clear</button>
            <button id = "buttonShowname Cue File"  onmousedown = "buttonShowname()">Show Name</button>
            <button id = "buttonRetime Cue File"  onmousedown = "buttonRetime()">Delete/Retime 1 Cue Type</button>
            <button id = "buttonDelete Current Cue File"  onmousedown = "buttonDelete()">Delete ALL Cue File/s</button>
            <button id = "buttsave"  onmousedown = "buttonSave()">Save Timing and Exit</button>
            <h2>Event Log</h2>
        </div>

        <div>

        <pre>
            <div id="websocketlog" class="log">
                <h4> Waiting for connection...</h4>
            </div>
        </pre>
        </div>

        <div id="retime" style="border:3px solid black; background-color: #e6e6e6; padding:10px; font-size:100%; text-align:center; display:none;">
            <legend>Select 'Description' of CUE file to DELETE:
                <select id = "retimeDesc">
                </select>
            </legend>
            <button id ="buttonRetimeCancel" class = "retimebutton" onmousedown="buttonRetimeCancel()">Cancel</button>
            <button id =="buttonRetimeContinue" class = "retimebutton" onmousedown="buttonRetimeContinue()">DELETE Timing</button>

        </div>

        <div id="shownamearray" style="border:3px solid black; background-color: #e6e6e6; padding:10px; font-size:100%; text-align:center; display:none;">
            <div id="shownametext">
                <legend>Select 'Show Name' to  DELETE:
                    <select id = "shownameDesc">
                    </select>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       Showname to add: <input id=shownameAdd name=shownameAdd type=text value="" style = "width: 8em" required>
                </legend>
            </div>
            <div id="shownamebuttons">
                <button id =="buttonShownameDelete" class = "shownamebutton" onmousedown="buttonShownameDelete()">DELETE Showname</button>
                <button id =="buttonShownameAdd" class = "shownamebutton" onmousedown="buttonShownameAdd()">Add Showname</button>
                <button id ="buttonShownnameCancel" class = "shownamebutton" onmousedown="buttonShownameCancel()">Finished</button>
            </div>
        </div>



        <div id = "cuetitle">
            <h2>Current Cue File Information</h2>
        </div>
        <table id = cuetable border="1" cellpadding="6">
            <tr>

                <td><b>Show Name</b></td>
                <td><b >Description</b></td>
                <td><b >Directory</b></td>
                <td><b>Number of Cues</b></td>
                <td><b>Sample Cue Type</b></td>
            </tr>
        </table>


        <div id = test>

            <button id = "butttest"  onmousedown = "buttonTest()">TEST ONLY: Auto cue "Timing 1" every 5 seconds.  Press GO 1 to start</button>


        </div>




        <div id="bigdiv">
            <div id = timing1 class = timing >
                <fieldset id = "fieldset1">
                    <legend><b>Timing 1</b></legend>
                    <legend>Show Name:
                        <select id = showname1>

                        </select>

                    </legend>

                    <div>
                        Description: <input id=description1 name=description1 type=text value="-" style = "width: 8em" required>
                    </div>
                    <div>
                        <legend>Output:
                            <select id = type1>
                                <option   value = 'slide' title = 'slide'>Slides </option>
                                <option   value = 'slideB' title = 'slideB'>SlidesB </option>
                                <option   value = 'audA' title = 'audA'>AudA </option>
                                <option   value = 'audB' title = 'audB'>AudB </option>
                                <option   value = 'audC' title = 'audC'>AudC </option>
                                <option   value = 'vid' title = 'vid'>Video </option>

                            </select>
                        </legend>
                    </div>

                    <div>
                            Directory:     <input id=directory1 name=directory1 type=text value="" style = "width: 8em" required>
                            Current Cue: <input id=cue1 name=cue1 type=number value=1 required style = "width: 5em">
                    </div>

                    <div id="buttondiv1">
                            <button id = "goButton1"  onmousedown = "cueclick1()"> GO 1 </button>
                    </div>

                </fieldset>

            </div>


            <div id = timing2 class = timing>
                <fieldset>
                    <legend id = "legend1"><b>Timing 2</b></legend>
                    <legend>Show Name:
                        <select id = showname2>

                        </select>

                    </legend>

                    <div>
                        Description: <input id=description2 name=description2 type=text value="-" style = "width: 8em" required>
                    </div>
                    <div>
                        <legend>Output:
                            <select id = type2>
                                <option   value = 'slide' title = 'slide'>Slides </option>
                                <option   value = 'slideB' title = 'slideB'>SlidesB </option>
                                <option   value = 'audA' title = 'audA'>AudA </option>
                                <option   value = 'audB' title = 'audB'>AudB </option>
                                <option   value = 'audC' title = 'audC'>AudC </option>
                                <option   value = 'vid' title = 'vid'>Video </option>

                            </select></legend>
                    </div>

                    <div>
                        Directory:     <input id=directory2 name=directory2 type=text value="" style = "width: 8em" required>
                        Current Cue: <input id=cue2 name=cue2 type=number value=1 required style = "width: 5em">
                    </div>

                    <div id="buttondiv2">
                         <button id = "goButton2"  onmousedown = "cueclick2()"> GO 2 </button>
                    </div>

                </fieldset>

            </div>

                <div id = timing3 class = timing>
                    <fieldset>
                        <legend><b>Timing 3</b></legend>
                        <legend>Show Name:
                            <select id = showname3>

                            </select>

                        </legend>

                        <div>
                            Description: <input id=description3 name=description3 type=text value="-" style = "width: 8em" required>
                        </div>
                        <div>
                            <legend>Output:
                                <select id = type3>
                                    <option   value = 'slide' title = 'slide'>Slides </option>
                                    <option   value = 'slideB' title = 'slideB'>SlidesB </option>
                                    <option   value = 'audA' title = 'audA'>AudA </option>
                                    <option   value = 'audB' title = 'audB'>AudB </option>
                                    <option   value = 'audC' title = 'audC'>AudC </option>
                                    <option   value = 'vid' title = 'vid'>Video </option>

                                </select></legend>
                        </div>

                        <div>
                            Directory:     <input id=directory3 name=directory3 type=text value="" style = "width: 8em" required>
                            Current Cue: <input id=cue3 name=cue3 type=number value=1 required style = "width: 5em">
                        </div>

                        <div id="buttondiv3" >
                           <button id = "goButton3"  onmousedown = "cueclick3()"> GO 3 </button>
                        </div>

                    </fieldset>

                </div>

         </div>
    </div>

</body>
</html>