extends layout

block content
  h1= title
  div
      button(onmousedown= "buttonclick()") Todd Made this form Me!
  div.logDiv(id="output")
  div
      button(onmousedown= "buttonclick()") I know you really wanted it under the box!

  style.
    .logDiv { height:300px; overflow-y:scroll; width:900px; border:1px solid black;" }


  div
      | Comments:
      br
      textarea#comments(name='comments', id = 'text1'   style='width: 460px; height: 200px; background-color: #D0F18F;')
      text1 = 'Hey... say something!'



  script.
     // var wsUri = "ws://localhost:8080";
        var counter = 0;
      var wsUri = '#{myuri}'
      function init()
      {
          output = document.getElementById("output");
      testWebSocket();

      }

      function testWebSocket()
      {
      websocket = new WebSocket(wsUri);
      websocket.onopen = function(evt) { onOpen(evt) };
      websocket.onclose = function(evt) { onClose(evt) };
      websocket.onmessage = function(evt) { onMessage(evt) };
      websocket.onerror = function(evt) { onError(evt) };
      }

      function onOpen(evt) {


      writeToScreen('#{myuri}');
      }

      function onClose(evt) {
          writeToScreen("DISCONNECTED");
      }

      function onMessage(evt)    {
            writeToScreen(evt.data);
      }

      function onError(evt) {
          writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
      }

      function doSend(message) {
          writeToScreen("SENT: " + message);  websocket.send(message);
      }

      function writeToScreen(message) {

          output.innerHTML = message+"<BR>"+output.innerHTML;
      }
      function buttonclick(message) {

        websocket.send("I got a que request I better do something");
        output.innerHTML = "Sent something out the websocket! -  order the sensors from amazon<br> This doesnt send until the button is released<br>"
        +output.innerHTML;

        //counter = parseInt(text1.HTML)+1;
        text1.innerHTML = counter + text1.HTML ;
        counter = parseInt(text1.HTML.trim())+1;

        }

      window.addEventListener("load", init, false);