extends layout

block content
  h1= title

  div.logDiv(id="output")

  style.
    .logDiv { height:300px; overflow-y:scroll; width:500px; border:1px solid black;" }


  script.
     // var wsUri = "ws://localhost:8080";
      var wsUri = '#{myuri}'
      function init()
      {
          output = document.getElementById("output");
      testWebSocket();

      }

      function testWebSocket()
      {
      websocket = new WebSocket(wsUri);
      websocket.onopen = function(evt) { onOpen(evt) };
      websocket.onclose = function(evt) { onClose(evt) };
      websocket.onmessage = function(evt) { onMessage(evt) };
      websocket.onerror = function(evt) { onError(evt) };
      }

      function onOpen(evt) {


      writeToScreen('#{myuri}');
      }

      function onClose(evt) {
          writeToScreen("DISCONNECTED");
      }

      function onMessage(evt)    {
            writeToScreen(evt.data);
      }

      function onError(evt) {
          writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
      }

      function doSend(message) {
          writeToScreen("SENT: " + message);  websocket.send(message);
      }

      function writeToScreen(message) {

          output.innerHTML = message+"<BR>"+output.innerHTML;
      }

      window.addEventListener("load", init, false);