extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href='data') Data
  p
    a(href='data2') Data2

  p
    a(href='data3') Data3

  p CS4 Links
      ul
        a(href='cs4Start') CS-4 Start
      ul
        a(href='cs4Home') CS-4 Home
      ul
        a(href='cs4Timing') CS-4 Timing

  p
    a(href='com') Com
  p
   h3 Static Web Pages
  a(href='websocket.html') Websocket
  p
    a(href='websocket2.html') Websocket 2
  p
    a(href='test.html') test