#canvasDiv{
    width:100%;
    color: #666;
}
#mainCanvas{
     margin-top: 1px;
     border: 3px solid #333333;;
 }
#zoomCanvas{
    margin-top: 1px;
    border: 3px solid #333333;;
}
.slider{
    width: 300px;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
    border-radius:10px;
}

#canvasDiv button{
    margin-right: 5.2%;
    float:right;
    border-radius:5px;
    /* background: linear-gradient(to bottom, rgba(63,76,107,0.1) 50%,rgba(63,76,107,0.15) 20%,rgba(0,0,0,0.42) 40%,rgba(0,0,0,0.49) 75%);*/
    font-weight: bold;
}
