#title{
    position: relative;
    display: inline;
    text-align: center;
    margin-top: 25px;

}

#wrapper{

    width: 96%;
}

h3{
    color: #666666;
    float: left;


    margin-left:50px;
    margin-bottom: 0;
    margin-top: 0;
}

#buttonClear{
    float: right;
    margin-right: 50px;
}



.titles{
    text-align: center;
}

/*  NOTE:  # = id;   . = class  */
#loglabel {
    color: #0000ff;
    text-align: center;
}

.body h1{
font-family: Verdana;
    font-weight:bold;
    font-size: 220%;
    margin:2% 0;
    height:auto;
    color: #666;
}



#body{
    background-color:  #666666;
}
.log{
    width: 90%;
    height: 350px;
    background-color: rgba(255, 203, 204, 0.56);
    margin-top: 1px;
    border-radius: 5px;
    /*    border-top-left-radius: 5px;*/
    box-shadow: 3px 3px 3px #333;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#websocketlog{
    clear: both;
    margin: auto;
    border: 2px solid #333333;
    overflow-y: auto;
}

#goButton{
    width:20vw;
    height:20vw;
    background-color: #881b33;
    font-size:200%;
    font-weight: bolder;
    float:left;
    margin-left: 2vw;
    margin-top: 2vh;
}



#canvasDiv{
   /* width:90%;*/

}



#myCanvas{
    margin-top: 20px;
   width: 90%;
   /*   *  margin-left: auto;
      margin-right: auto;*/
    height: 200px;
 /* float: right;*/
    border: 3px solid #333333;
    padding: 10px;

}


