#title{
    position: relative;
    display: inline;
    text-align: center;
    margin-top: 25px;
}

#wrapper{

    width: 96%;
}

h3{
    color: #666666;
    float: left;


    margin-left:50px;
    margin-bottom: 0;
    margin-top: 0;
}



.body h1{
font-family: Verdana;
    font-weight:bold;
    font-size: 220%;
    margin:2% 0;
    height:auto;
    color: #666;
}



#body{
    background-color:  #666666;
}


