#title{
    text-align: center;
}

.titles{
    text-align: center;
}

/*  NOTE:  # = id;   . = class  */
#loglabel {
    color: #0000ff;
    text-align: center;
}

nav  li {
    display: block;
    position: relative;
    float: left;
}

nav {
    background-color: #ffffff;
    height:40px;

    font-family: Arial, Verdana;
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li a {
    display: block;
    text-decoration: none;
    padding: 7px 15px 3px 15px;
    background: #2c3763;
    color: #ffffff;
    margin-left: 1px;
    white-space: nowrap;
    height:30px; /* Width and height of top-level nav items */
    width:90px;
    text-align:center;

}

#body{
    background-color:  #666666;
}
.log{
    width: 90%;
    height: 50vh;
    background-color: #ececec;
    margin-top: 1px;
    border-radius: 5px;
    /*    border-top-left-radius: 5px;*/
    box-shadow: 3px 3px 3px #333;
    padding: 10px;
    padding-bottom: 20px;
}

#websocketlog{
    margin: auto;
    border: 2px solid #333333;
    overflow-y: auto;
}

#goButton{
    width:20vw;
    height:20vw;
    background-color: #881b33;
    font-size:200%;
    font-weight: bolder;
    float:left;
    margin-left: 2vw;
    margin-top: 2vh;
}



#canvasDiv{
    width:1000px;
    margin: 0px auto;
}



#myCanvas{
    margin-top: 20px;
    width: 1000px;
    height: 200px;
 /* float: right;*/
    border: 3px solid #333333;
}

