


#titles{
    float:left;
    width:90%
}


.info{
    text-align: center;
    margin-top:15px;
    margin-left: 10px;
    width: 15em;
    height:2.5em;
    float:left;
    border: 2px solid #333333;
    overflow-y: auto;
    padding-left: 1em;
    background-color: #ececec;

    border-radius: 5px;
    box-shadow: 3px 3px 3px #333;
}

.body h1{
    font-family: Verdana;
    font-weight:bold;
    font-size: 275%;
    margin:2% 0;
    height:auto;
    text-shadow:  3px 3px 5px rgba(32, 23, 255, .3);
    color: #666;


}
