body{
    background-color: #0000ff;
    margin-top: 24px;
}

.wrapper{
    width: 1024px;
    margin: 2% auto;

}

#header{
    width: 100%;
    background-color: #000;
    height: 200px;
    margin-bottom:2%;
}

#content{
    width: 61%;
    height: 200px;
    margin-right: 2%;
    background-color: #000;
    float: left;
}

#sidebar{
    width: 37%;
    background-color: #000;
    height: 200px;
    float: left;
    margin-bottom: 2%;
}

#footer{
    clear: both;
    width: 100%;
    background-color: #000;
    height: 100px;

}
@media only screen and (max-width:1024px){
    body{
        background-color: #00ff00;
    }
    .wrapper{
        width: 98%;
    }
}

@media only screen and (max-width: 480px) {
    body{
        background-color: #c39;
    }
}