#title{
    text-align: center;
}

#wrapper{

    width: 96%;
}

.titles{
    text-align: center;
}

/*  NOTE:  # = id;   . = class  */
#loglabel {
    color: #0000ff;
    text-align: center;
}

h3{
    color: #0000ff;
    text-align: center;
    margin:0;


}

h1{
    text-align: center;
}


#body{
    background-color:  #666666;
}
.log{
    width: 90%;
    height: 50vh;
    background-color: #ececec;
    margin-top: 1px;
    border-radius: 5px;
    /*    border-top-left-radius: 5px;*/
    box-shadow: 3px 3px 3px #333;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#websocketlog{
    margin: auto;
    border: 2px solid #333333;
    overflow-y: auto;
}

#goButton{
    width:20vw;
    height:20vw;
    background-color: #881b33;
    font-size:200%;
    font-weight: bolder;
    float:left;
    margin-left: 2vw;
    margin-top: 2vh;
}



#canvasDiv{
    /* width:90%;*/

}



#myCanvas{
    margin-top: 20px;
    width: 90%;
    /*   *  margin-left: auto;
       margin-right: auto;*/
    height: 200px;
    /* float: right;*/
    border: 3px solid #333333;
    padding: 10px;

}