#title{
    text-align: center;
}

#wrapper{

    width: 96%;
}

.titles{
    text-align: center;
}

/*  NOTE:  # = id;   . = class  */
#loglabel {
    color: #0000ff;
    text-align: center;
}

h3{
    color: #0000ff;

    text-align: center;
    margin:0;
}

h1{
    text-align: center;
}


#body{
    background-color:  #666666;
}
.log{
    width: 90%;
    height: 50vh;
    background-color: #ececec;
    margin-top: 1px;
    border-radius: 5px;
    /*    border-top-left-radius: 5px;*/
    box-shadow: 3px 3px 3px #333;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#websocketlog{
    margin: auto;
    border: 2px solid #333333;
    overflow-y: auto;
}

#goButton1{
    width:20vw;
    height:10vw;
    background-color: #06b00a;
    font-size:3em;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
    margin-top: 3px;
}

#goButton2{
    width:20vw;
    height:10vw;
    background-color: #06b00a;
    font-size:3em;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
    margin-top: 3px;
}

#goButton3{
    width:20vw;
    height:10vw;
    background-color: #06b00a;
    font-size:3em;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
    margin-top: 3px;
}

#go1div{
    margin:0 auto;
}


#canvasDiv{
    /* width:90%;*/

}



#myCanvas{
    margin-top: 20px;
    width: 90%;
    /*   *  margin-left: auto;
       margin-right: auto;*/
    height: 26%;
    /* float: right;*/
    border: 3px solid #333333;
    padding: 10px;

}

form#timing1 fieldset {
    color: #ff0000;
}

#timing1{
    background-color: #adffb4;
    margin-left: 40px;
}

#timing2{
    background-color: #839dff;
}

#timing3{
    background-color: #8decff;
}


.timing{
    margin-top: 20px;
    width: 30%;
    height: 26%;
    margin-left: 20px;
    float:left;
}

#bigdiv{
    height: 26%;


}

#legend1{
    height: 26%;
}

#fieldsettest{
    height:26%;
    width:50%;
}

#testdiv{
    height:26%;
    width:50%;
}

#buttondiv1{
    text-align:center;
}
#buttondiv2{
    text-align:center;
}

#buttondiv3{
    text-align:center;
}

#buttonClear{
    float: right;
}