#title{
    position: relative;
    display: inline;
    text-align: center;
    margin-top: 25px;
}

#wrapper{

    width: 96%;
}

h3{
    color: #666666;
    float: left;


    margin-left:50px;
    margin-bottom: 0;
    margin-top: 0;
}

#buttonClear{
    float: right;
    margin-right: 50px;
}

.titles{
    text-align: center;
}

/*  NOTE:  # = id;   . = class  */
#loglabel {
    color: #0000ff;
    text-align: center;
}




#body{
    background-color:  #666666;
}
.log{
    width: 90%;
    height: 350px;
    background-color: rgba(255, 203, 204, 0.56);
    margin-top: 1px;
    border-radius: 5px;
    /*    border-top-left-radius: 5px;*/
    box-shadow: 3px 3px 3px #333;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#websocketlog{
    clear: both;
    margin: auto;
    border: 2px solid #333333;
    overflow-y: auto;
}

#goButton1{
    width:70%;
    height:40%;
    background-color: #06b00a;
    font-size:3em;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
    margin-top: 3px;
}

#goButton2{
    width:70%;
    height:40%;
    background-color: #06b00a;
    font-size:3em;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
    margin-top: 3px;
}

#goButton3{
    width:70%;
    height:40%;
    background-color: #06b00a;
    font-size:3em;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
    margin-top: 3px;
}

#go1div{
    margin:0 auto;
}


#canvasDiv{
    /* width:90%;*/

}



#myCanvas{
    margin-top: 20px;
    width: 90%;
    /*   *  margin-left: auto;
       margin-right: auto;*/
    height: 26%;
    /* float: right;*/
    border: 3px solid #333333;
    padding: 10px;

}

form#timing1 fieldset {
    color: #ff0000;
}

#timing1{
    background-color: rgba(173, 255, 180, 0.21);
    margin-left: 40px;
}

#timing2{
    background-color: rgba(131, 157, 255, 0.21);
}

#timing3{
    background-color: rgba(141, 236, 255, 0.21);
}


.timing{
    margin-top: 20px;
    width: 25%;
    height: 26%;
    margin-left: 10px;
    float:left;
}

#bigdiv{
    height: 26%;
    font-size: .7em;


}

#legend1{
    height: 26%;
}

#fieldsettest{
    height:26%;
    width:50%;
}

#testdiv{
    height:26%;
    width:50%;
}

#buttondiv1{
    text-align:center;
}
#buttondiv2{
    text-align:center;
}

#buttondiv3{
    text-align:center;
}

#buttonClear{
    float:right;
}

#title{
    vertical-align: middle;
    width:80%;
}

.body h1{
    font-family: Verdana;
    font-weight:bold;
    font-size: 220%;
    margin:2% 0;
    height:auto;
    color: #666;
}

#buttonClear{
    vertical-align: middle;
}


#blackout{
    visibility: hidden;
}