.graphfadeformove
 {
     transition-property: opacity;
     transition-duration: .5s;
    transition-timing-function: ease-in;
 }

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}